/*header and navbar*/

.glyphicon {
    display:block;
    text-align:center;
}

.navbar-default{
    margin-bottom:0;
    background-color: white;
    border-bottom: 5px solid rgba(128, 128, 128, 0.31);

}
.glyphicon-ring {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: gray;
    display: inline-table;
    text-align: center;
    margin-top: 10px;

}

.glyphicon-ring .glyphicon-bordered {
    font-size: 15px;
    vertical-align: middle;
    display: table-cell;

}
.glyphicon-white {
    background-color: #0dc0c0; 
}
.glyphicon-gray{
    background-color: #e7e7e7; 

}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus ,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus{
    color: white;
    background-color: #0dc0c0;
    height: 80px;
    opacity:0.7;
}
.navbar-default .navbar-nav > .active  > a:before{
      color: #0dc0c0;
    background-color: white;
}

#sizeLogo{
    width: 40px;
    height:40px;
}
.brand-padding{
    padding-top: 23px;
    font-size: 25px;
}
.navbar-nav > li {
    margin-left:4px;
    margin-right:4px;
}

/*part after slider*/

.icon-div{
    width: 60px;
    height: 61px;
    background-color: #0dc0c0;
    display: inline-table;
    text-align: center;
    border-radius: 15% 15% 0% 15%;
    padding-top: 15px;
}
.div-with-border{
    border-bottom: 2px solid #0dc0c0;

}
.div-with-border > h5{
    font-weight: 700;
    font-size: 18px;
}
/*services boxes*/


.top-buffer { 
    padding-top: 80px;
}
.text-color{
    color:#0dc0c0;
}
.service-box{
    border: 1px solid rgba(169, 169, 169, 0.32);
    border-radius: 3%;
    padding: 30px;
}
.service-box:hover{
    box-shadow: 0 0 2px 1px #0dc0c0;
}

/*middle div*/


.middle-div {
    background-image: url(../imgs/in-middle.gif);
    background-size: cover;
    margin-top: 80px;
    color: white;
    text-align: center;
    position: relative;
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    background-size: cover;
    margin-bottom: 0;

}
.p-padding{
    margin-top: 40px;
}
.p-padding-plus{
    margin-top: 50px;
}
.overlay{
    display: table-cell;
    vertical-align: middle;

}
.middle-div:before{
    content:"";
    position: absolute;
    top: 0;
    z-index: 1;
    width: 0px;
    height: 0px;
    left: calc(50%-40px);
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 40px solid #fff;
}

.middle-div h1{
    font-size: 40px;
    margin-bottom: 94px;

}

.span-with-maincolor{
    color: #0dc0c0;
}
.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn.outline {
    background: none;
    padding: 12px 22px;

}
.btn-primary.outline {
    border: 2px solid white;
    color: white;
    margin-left: 15px;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #0dc0c0;
    background-color: white;
}
.btn-primary:hover {

    background-color:white;
    color: #0dc0c0;
}
.btn-primary{
    background: #0dc0c0;
    color: #ffffff;
    margin-right: 15px;
}
.jumbotron p{
    display: inline-block;
}




/*thumbnail and tabs div*/

.thumbnail img{
    border-bottom: 4px solid #0dc0c0;
}
.thumbnail h4:after{
    content: "";
    border-bottom: 1px solid #0dc0c0;
    width:200px;
}

hr {

    border: 0;
    border-top: 1px solid #0dc0c0;
    border-width: 3px;
    max-width: 50px;
}
.tab-content .thumbnail:hover {
    box-shadow: 0 0 2px 1px #0dc0c0;
}


a:hover,a:focus{
    text-decoration: none;
    outline: none;
}
.tab-background h2{
    margin-top: 0;
}

.tab .nav-tabs {
    border-bottom:0 none;

    margin-bottom: 46px;
    margin-top: 85px;

}
.div-about{
    margin-top: 85px;
}
.tab .nav-tabs li{
    margin-right: 10px;
}

.tab .nav-tabs li a{
    position: relative;
    padding: 15px;
    color: #fff;
    font-size: 17px;
    z-index: 1;
}
.tab .nav-tabs li a:hover{
    background:transparent;
    border:1px solid transparent;
}
.tab .nav-tabs li a:before{
    content: "";
    width:100%;
    height:100%;
    position:absolute;
    bottom: 8px;
    left:-1px;
    font-size:17px;
    background: #0dc0c0;
    border: 1px solid #d3d3d3;
    border-bottom: 0px none;
    border-radius: 8px 8px 0 0;
    transform-origin: left center 0;
    transform: perspective(6px) rotateX(2deg);
    z-index:-1;

}
.tab .nav-tabs li.active a:before{
    background: #fff;
}

.tab .nav-tabs li.active a,
.tab .nav-tabs li.active a:focus,
.tab .nav-tabs li.active a:hover,
.tab .nav-tabs li.active .fa:focus,
.tab .nav-tabs li.active .fa:hover{
    border:1px solid transparent;
    background:transparent;
    color: #0dc0c0;
    z-index: 2;

}
.tab-content .tab-pane{
    padding: 20px;
    background:#fff;
    line-height: 22px;
}
.tab-content .tab-pane h3{
    margin-top: 0;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline;
    zoom:1;
}

.nav-tabs, .nav-pills {
    text-align:center;
}




/*footer*/

.footer{
    background-color: rgba(0, 0, 0, 0.88);
}
.footer .fa{
    color: gray;
}
.footer .nav p{
    margin-bottom: 11px;
    margin-top: 11px;

}
.graySpan{
    color: darkgray;
}
.footer .nav p{
    color: rgba(128, 128, 128, 0.83);
}
#carousel-example-generic{
    margin-top: 83px;
}


/*media queries*/

@media (min-width: 992px){
    .col-md-8 {
        width: 100%; 
    }
}
@media only screen and (max-width: 767px) {
    .tab .nav-tabs li a{
        padding: 15px 10px;
        font-size: 14px;
    }
    .tab .nav-tabs li a:before{
        bottom: 6px;
    }
}
@media only screen and (max-width: 480px) {
    .tab .nav-tabs li{
        width:100%;
        margin-bottom: 5px;
    }
    .tab .nav-tabs li a:before{
        bottom: 0;
        transform: none;
        border-bottom: 1px solid #d3d3d3;
    }
}

@media (max-width: 992px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}
