/*-------------------------------*/


/*           Font           */


/*-------------------------------*/

@font-face {
    font-family: 'CoconRNext-Arabic';
    src: url('../fonts/CoconRNext-Arabic-Light.otf');

}



@font-face {
    font-family: myfont;
    src: url('../fonts/CoconRNext-Arabic-Light.otf');

}


@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);


/*-------------------------------*/


/*           VARIABLES           */


/*-------------------------------*/

// BACKGROUND COLOR
$bg-color: #F7F7F7;
// TEXT COLOR
$text-color: #fff;
$main-color:#0C4996;
$secondary-color:#26abef;
$third-color:#ffcf33;

// HAMBURGER COLOR
$hamburger-color-closed: fadeout($text-color, 30);
$hamburger-color-open: $text-color;
// WIDTH VARIABLES
$width1: 220px;
$width2: 100px;
$full-width: 100%;
// HEIGHT VARIABLES
$full-height: 100%;

body {
    position: relative;
    overflow-x: hidden;
    font-family: 'CoconRNext-Arabic';
}
body,
html {
    height: $full-height;
    background-color: $bg-color;
}

//a {
//    color: fadeout($text-color, 20);
//    text-decoration: underline;
//    &:hover {
//        color: $third-color;
//    }
//}
//
//.nav {
//    .open>a {
//        background-color: transparent;
//        &:hover {
//            background-color: transparent;
//        }
//        &:focus {
//            background-color: transparent;
//        }
//    }
//}


/*-------------------------------*/


/*           Wrappers            */


/*-------------------------------*/

#wrapper {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    padding-left: 0;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-right: 455px;
    #sidebar-wrapper {
        width: $width1;
        box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    }
    #page-content-wrapper {
        margin-right: -220px;
        position: absolute;
    }
}

#sidebar-wrapper {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    background: $main-color;
    height: $full-height;
    left: 220px;
    margin-left: -220px;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 0.5s ease;
    width: 0;
    z-index: 1000;
    &::-webkit-scrollbar {
        display: none;
    }
}

#page-content-wrapper {

    width: $full-width;
}


/*-------------------------------*/


/*     Sidebar nav styles        */


/*-------------------------------*/

.sidebar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: $width1;
    li {
        display: inline-block;
        line-height: 20px;
        position: relative;
        width: $full-width;
        &:before {
            content: '';
            height: $full-height;
            right: 0;
            position: absolute;
            top: 0;
            transition: width .2s ease-in;
            width: 3px;
            z-index: -1;
        }
        &:nth-child(n) {
            &:before {
                background-color: $secondary-color;
            }
        }
        &:hover {
            &:before {
                transition: width .2s ease-in;
                width: $full-width;
            }
        }
        a {
            color: #BEC6D3;
            display: block;
            padding: 10px 15px 10px 30px;
            text-decoration: none;
            &:hover{
                color: #ffffff;
            }
        }
        .fa{
            font-size: 20px;
            float: right;
            margin-left: 30px;
            line-height: 30px;
            width: 30px;
            text-align: center;
        }
        p{
            margin: 0;
            line-height: 30px;
            font-size: 16px;
        }
    }
    li.open {
        &:hover {
            before {
                transition: width .2s ease-in;
                width: $full-width;
            }
        }
    }
    .dropdown-menu {
        background-color:  $main-color;
        border-radius: 0;
        border: none;
        box-shadow: none;
        margin: 0;
        padding: 0;
        position: relative;
        width: $full-width;
        p{
            font-size: 15px;
        }
        li:hover {
            a {
                color:#ffffff;
            }
        }

    }
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
{
    background-color: transparent;
    text-decoration: none;
}
.sidebar-nav li.open a:focus{
    background-color: transparent;
    text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
    font-size: 20px;
    height: 65px;
    line-height: 44px;
    background-color: $secondary-color;

    a{
        color: #ffffff;
    }
}


/*-------------------------------*/


/*       Hamburger-Cross         */


/*-------------------------------*/

.hamburger {
    background: transparent;
    border: none;
    display: block;
    height: 32px;
    margin-right:15px;
    position: fixed;
    top: 20px; 
    width: 32px;
    z-index: 999;
    &:hover {
        outline: none;
    }
    &:focus {
        outline: none;
    }
    &:active {
        outline: none;
    }
}

.hamburger.is-closed {
    &:before {
        -webkit-transform: translate3d(0, 0, 0);
        -webkit-transition: all .35s ease-in-out;
        color: #ffffff;
        content: '';
        display: block;
        font-size: 14px;
        line-height: 32px;
        opacity: 0;
        text-align: center;
        width: $width2;
    }
    &:hover {
        before {
            -webkit-transform: translate3d(-100px, 0, 0);
            -webkit-transition: all .35s ease-in-out;
            display: block;
            opacity: 1;
        }
        .hamb-top {
            -webkit-transition: all .35s ease-in-out;
            top: 0;
        }
        .hamb-bottom {
            -webkit-transition: all .35s ease-in-out;
            bottom: 0;
        }
    }
    .hamb-top {
        -webkit-transition: all .35s ease-in-out;
        background-color: $main-color;
        top: 5px;
    }
    .hamb-middle {
        background-color: $main-color;
        margin-top: -2px;
        top: 50%;
    }
    .hamb-bottom {
        -webkit-transition: all .35s ease-in-out;
        background-color: $main-color;
        bottom: 5px;
    }
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
    height: 4px;
    left: 0;
    position: absolute;
    width: $full-width;
}

.hamburger.is-open {
    .hamb-top {
        -webkit-transform: rotate(45deg);
        -webkit-transition: -webkit-transform .2s cubic-bezier(.73, 1, .28, .08);
        background-color: $main-color;
        margin-top: -2px;
        top: 50%;
    }
    .hamb-middle {
        background-color: $main-color;
        display: none;
    }
    .hamb-bottom {
        -webkit-transform: rotate(-45deg);
        -webkit-transition: -webkit-transform .2s cubic-bezier(.73, 1, .28, .08);
        // background-color: #1a1a1a;
        background-color: $main-color;
        margin-top: -2px;
        top: 50%;
    }
    &:before {
        -webkit-transform: translate3d(0, 0, 0);
        -webkit-transition: all .35s ease-in-out;
        color: #ffffff;
        content: '';
        display: block;
        font-size: 14px;
        line-height: 32px;
        opacity: 0;
        text-align: center;
        width: $width2;
    }
    &:hover {
        before {
            -webkit-transform: translate3d(-100px, 0, 0);
            -webkit-transition: all .35s ease-in-out;
            display: block;
            opacity: 1;
        }
    }
}



/*-------------------------------*/


/*       jumbotron        */


/*-------------------------------*/

.caret{
    margin-right: 48px;
}
.jumbotron{
    background-image: url(../img/alex2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;  
    padding: 0px;
    //            background-attachment: fixed;
    background-position:center;
    margin-bottom: 0;
    img{
        width: 8%;
        float: left;
        margin-left: 54px;
        @media (max-width:767px){
            width: 11%;
        }
    

        //        margin-left: 94px;
        //        /* margin-bottom: 38px; */
        //        margin-top: -48px;
    }
    img:after{
        content: '';
        display: block;
        clear: both;
    }
}
/*-------------------------------*/


/*       page-content-wrapper-card       */


/*-------------------------------*/

#page-content-wrapper{
    .container{
        .row{
            .card{
                display: inline-block;
                position: relative;
                width: 100%;
                color: rgba(0,0,0, 0.87);
                background: #ffffff;
                border-radius: 2px;
                //                transition: all 0.7s cubic-bezier(.25,.8,.25,1);
                //  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                //               box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
                //    transition: all .3s ease;
                //               
                box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
                transition: all .3s ease;


                .card-header{
                    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
                    margin: -20px 15px 0;
                    border-radius: 3px;
                    padding: 15px;
                    background-color: $main-color;
                    height: 72px;
                    .nav-tabs {
                        background: $main-color;
                        border: 0;
                        border-radius: 3px;
                        padding: 0 15px;
                        overflow-x: none;
                        a {
                            color: #FFFFFF;
                            border: 0;
                            margin: 0;
                            border-radius: 3px;
                            line-height: 24px;
                            font-size: 16px;
                            text-decoration: none;
                        }

                    } 
                }
                .card-content {
                    padding: 15px 20px;
                    .table{
                        th{
                            text-align: right;
                            color:$main-color;
                        }
                    }
                    a{
                        //                        color: $secondary-color;
                        text-decoration: none;
                        transition: color .3s ease;
                        &:hover{
                            color:$third-color;
                        }
                    }
                    .see-more{
                        float: left;
                        color: $secondary-color;
                    }

                }
                .card-nav-tabs {
                    float: left;
                    padding: 10px 10px 10px 0;
                    line-height: 24px;
                    .nav-tabs {
                        background: transparent;
                        padding: 0;
                        margin-top: -30px;
                    }
                }

            }
        }   
    }
}
.card:hover,
.bank-card:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transform: translate(0,-4px);
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: rgba(255, 255, 255, 0.2);
    transition: background-color .1s .2s;
}
.nav-tabs > li > a .fa {
    margin: 0px 5px 0 7px;
    vertical-align: middle;
}

.nav-tabs > li > a, .nav-tabs > li > a:hover,
{
    background-color: transparent;
    font-weight: 500;
}

/*-------------------------------*/


/*      clock      */


/*-------------------------------*/

.pad{
        margin-top: 45px;
}


.time {
    //    color: #ddd;
    //    text-shadow: 0 1px 5px black;
    //    //    margin-top: 10%;
    //    font-size: 20px;
    //    float: left;
    //    //    margin-top: 170px;
    //    margin-left: 36px;
    //    //    margin-left: 20px;

    color: #ddd;
    text-shadow: 0 1px 5px black;
    font-size: 20px;

    float: left;
    text-align: left;
    //    margin-left: -160px;
    //    margin-top: 159px;
}
.time:after{
    content: '';
    clear: both;
    display: block;
}

.hour {
    font-size: 80px;
}

.date {
    font-size: 25px;
}






/*-------------------------------*/


/*       Weather and news      */


/*-------------------------------*/
.content{
    margin-bottom: 120px;
    margin-top: 120px;

    .news ,.weather{
        color: $third-color;
    }
}
.card-row1 {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    height: 230px;
    position: relative;
    width: 100%;

    .icon-row1 {
        background: $main-color;
        border-radius: 2px;
        display: inline-block;
        height: 230px;
        width: 40px;
        //    margin: 1rem;
        position: absolute;
        line-height: 149px;
        right: -15px;
        z-index: 1;
        margin: 0px 15px 0;
        padding: 15px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    }

    .card-block{
        margin-right:60px;
        margin-bottom: 10px;
        font-family: myfont;

        .card-header{
            font-size: 25px;
            color: $third-color;

        }
        .card-title{
            //        color:black;
            //        font-family: myfont;

        }
    }

    a{
        font-size: 14px;
        float: left;
        padding-left: 30px;
        margin-top: -15px;
        color: $secondary-color;
        &:hover{
            color: $third-color;
            transition: color .3s ease;
            text-decoration: none;


        }
    }
}




/*-------------------------------*/


/*       fuel currency gold   */


/*-------------------------------*/



.card-row2{

    background: #fff;
    border-radius: 3px;
    display: inline-block;
    max-height: 210px;
    //  margin: 1rem;
    position: relative;
    width: 100%;


    .icon-row2{
        background: $main-color;
        width:75px;
        height: 75px;
        //    line-height: 55px;
        border-radius: 2px;
        display: inline-block;
        position: absolute;
        left: 10px;
        z-index: 1;
        margin: -20px 15px 0;
        padding: 15px;
        text-align: center;
        //        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        box-shadow:0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
        .ic{

            width:50px;
        }

    } 

    .card-block{
        font-family: myfont;
        margin-right: 30px;
        .card-tile{
            font-size: 25px;
            color: $third-color;
        }
        .card-content{

            font-family: 'Lato', sans-serif;
            margin: 18px;
            font-size:40px;
            text-align: center;

            sup{

                font-size: 25px;
                top: -1.25em;

            }

            small{

                font-size: 22px;
                color: #aeb0b5;
            }

            .category{
                font-size: 18px;
                text-align: right;
                padding-right: 35px;
            }

        }

        a{
            font-size: 14px;
            float: left;
            padding-left: 30px;
            padding-bottom: 30px;
            color: $secondary-color;
            &:hover{
                color: $third-color;
                transition: color .3s ease;
                text-decoration: none;


            }
        }
    }


}









/*-------------------------------*/


/*       Prices-card       */


/*-------------------------------*/

.prices-card{
    .card-header{
        h2{
            color: white;
            margin: 0;
        }
    }
    .card-content{
        text-align: center;
        .row{
            margin: auto;
            margin-top: 17px;
            margin-bottom: 17px;
        }
        .see-more-prices{
            margin-bottom: 15px;
            color: $secondary-color;
        }
    }
    .food-cards{
        width: 130px;
        min-height: 130px;
        background-color:#ffffff;
        margin: 15px;
        box-sizing: border-box;
        float: none;
        display: inline-block;
        text-align: left;
        position: relative;
        .flip{
            width: 100%;
            height: 100%;
            position: absolute;
            right: 0px;
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
            -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition: -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            border-radius: 6px;
            box-shadow: 0 6px 16px rgba(0,0,0,0.15);
            cursor: pointer;
            div {
                position: absolute;
                width: 100%;
                height: 100%;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                border-radius: 6px;
                background: #ffffff;
                display: -webkit-box;
                display: -ms-flexbox;
                display: box;
                display: flex;
                -webkit-box-pack: center;
                -o-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                -o-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-font-smoothing: antialiased;
                color: #47525d;
            }
            .back {
                background-color: $main-color;
                color: white;
                -webkit-transform: rotateY(180deg);
                transform: rotateY(180deg);
                text-align: center;
                span{
                    display: block;
                    width: 6em;
                }
            }
            img{
                width: 53px;
            }

        }
    }
}

.flip.flipped {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

/*-------------------------------*/


/*       Bank-card       */


/*-------------------------------*/
.margin-div{
    .row {
        @media (max-width:992px){

            margin: auto;
        }
    }

} 
.bank-card.second{
    margin-top: 45px;

}
.bank-card,
.enter-card{
    max-width: 600px;
    margin: 0;
    border-radius: 2px;
    color: black;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: all .3s ease;
    padding: 0 10px;
    background-color: #ffffff;
    @media (min-width: 768px){
        width: 100%;
        margin: auto;
        margin-bottom: 70px;

    } 

    .bank-title {
        text-align: center;
        //        padding: 10px 0;
        i {
            font-size: 2em;
            line-height: 60px;
            border-radius: 50%;
            background-color: $main-color;
            height: 60px;
            width: 60px;
            color:#ffffff;
            margin-top: -1em;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        }
    }

    .info {
        h3{
            margin: 0;
            font-size: 22px;
            padding: 11px 0;
            color: $main-color;
            text-align: center;
        }
        .bank-title {
            text-align: right;
            margin: 0;
            //            padding: 5px 0;
            color: $main-color;
        }

    }

    .footer {
        border-top: 1px solid $main-color;
        padding: 15px;
        text-align: right;
        text-transform: uppercase;
        position: relative;
        a {
            transition: color .3s ease;
            color: $secondary-color;
            margin: 0 5px;
            text-decoration: none;

        }
        .see-more{
            float: left;
        }
    }
}

.footer a:hover,
.footer a:active {
    color: $third-color;
    text-decoration: none;
}
/*-------------------------------*/


/*      gov services & hospitals       */


/*-------------------------------*/

.content-hotels{
    margin-top: 27px;
    margin-bottom: 20px;
}
.card-row3 {
    font-family: myfont;
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    //    min-height:375px;
    height: auto;
    position: relative;
    width: 100%;

    .icon-row3 card-header {

        background-color: $main-color;
        border-radius: 3px;
        display: inline-block;
        height: 7px;
        width: 515px;
        position: absolute;
        line-height: 149px;
        right: 5px;
        z-index: 1;
        margin: -20px 25px 0;
        padding: 15px;
        box-sizing: border-box;    
        box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);    


        .card-title{
            color:#fff;
            font-family: myfont;
            line-height: 50px;
            margin: 0px;
            font-size: 24px;
        }
    }

    .card-content{
        padding-right: 10px;
        padding-left: 10px;


        th{
            text-align: right;

        }


        .firstchild-td {
            float: left;
            padding-left: 20px;
            //            border-top: 0px solid;
        }
        .firstchild-td {
            //            border-top: 0px solid;
        }
        .see-more{
            float: left;
        }




    }    




    .card-nav-tabs {
        margin-top: 70px;
        //                    float: left;
        padding: 10px 10px 0px 0;
        line-height: 24px;
        .nav-tabs {
            background: transparent;
            padding: 0;
            margin-top: -30px;
        }


    }
    .card-header{
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

        margin: -20px 15px 0;
        border-radius: 2px;
        padding: 15px;
        background-color: $main-color;
        height: 72px;
        //                    width: 94%;
        .card-title{
            color:#fff;
            font-family: myfont;
            line-height: 50px;
            margin: 0px;
        }


        .nav-tabs {
            background: $main-color;
            border: 0;
            border-radius: 3px;
            padding: 0 15px;
            overflow-x: none;
            a {
                color: #FFFFFF;
                border: 0;
                margin: 0;
                border-radius: 3px;
                line-height: 24px;
                font-size: 16px;
                text-decoration: none;
            }

        } 


    }
    .card-content-right {

        box-sizing: border-box;
        .table{
            th{
                text-align: right;
                color:$main-color;
            }
        }
    }

    td{
        a{
            color:black; 
            float: none;
        }

    }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        background-color: rgba(255, 255, 255, 0.2);
        transition: background-color .1s .2s;
    }
    .nav-tabs > li > a .fa {
        margin: 0px 5px 0 7px;
        vertical-align: middle;
    }

    .nav-tabs > li > a, .nav-tabs > li > a:hover,
    {
        background-color: transparent;
        font-weight: 500;

    }
    .table>tbody>tr>td{

        padding: 6px;
        font-size: 15px;
        line-height: 1.42857143;
        vertical-align: top;
        //        border-top: 1px solid #ddd;
        .see-more{
            float: left;
        }
    }


    .firstchild-td {
        margin-bottom: 15px;
        border-top: 0px solid;
        color: $secondary-color;     
    }  

}


//
//.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
//    color: #555;
//    cursor: default;
//    background-color: #fff;
//    border: 0px;
//    border-bottom-color: transparent;
//}




/*-------------------------------*/


/*       second-row       */


/*-------------------------------*/

#Consulates{
    .table{
        tbody{
            td{
                img{
                    width: 30%;
                }
            }
        }
    }
    .see-more{
        margin-top: 14px;
    }
}

/*-------------------------------*/


/*       entertain-div-wrap       */


/*-------------------------------*/

.collapse-custom {

    .navbar {
        margin-bottom: 0;
        border-radius: 0;
        cursor: pointer;
        //        border-bottom: none;

        li ul {
            list-style-type: none;
            padding-left: 15px;
        }

    }

    .navbar:last-of-type {
        border-bottom: 1px solid #e7e7e7;

    }

    .navbar-heading {
        background-color: $main-color;
        cursor: default;
        font-weight: bold;
        font-size: 16px;
        li {  
            padding: 10px 0 10px 0; 
        }
        li a {
            color: #fff;
            text-decoration: none;
            &:hover {
                color: $third-color;
            }
        }
    }

    .navbar-nav {
        .one {
            min-width: 120px;
        }
        li a{
            text-decoration: none;

            &:hover {
                color: $third-color;
            }
        }

    }

    .collapse {
        background-color: #fff; 
    }

    .collapse-open {
        background-color: #f5f5f5; 
    }


}



//hanzada 4th w 5th


.row-4{
    font-family: myfont;

    p{
        font-size: 16px;
    }

    .btn {
        border-radius: 2px;
        padding: 8px 12px;
        //          color: #fff;
        background-color: $main-color;
        font-size: 14px;
        font-weight: 500;
        text-decoration: none;
        text-transform: uppercase;
        -webkit-transition: 0.5s ease;
        transition: 0.5s ease;
    }

    .card {
        margin: 0px;
        background: #FFFFFF;
        height: auto;
        //  margin:25px auto;
        box-sizing: border-box;
        //  padding: 48px;
        text-align: center;
        //  min-height: 450px;
        border-radius: 3px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.7s cubic-bezier(.25,.8,.25,1);

        .slides {
            //    min-height: 600px;
            position: relative;
            overflow: hidden;
            -webkit-transition: 0.5s ease;
            transition: 0.5s ease;
        } 

        .slide {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            visibility: hidden;
            -webkit-transition: 0.5s ease;
            transition: 0.5s ease;
        }
        .slide.active {
            opacity: 1;
            visibility: visible;
        } 


        .thumbnail { margin: 60px 20px 0px 20px; }

        .title {
            position: relative;
            margin: -31px 25px 15px;
            color: $main-color;
            font-size: 24px;
            background-color: rgba(0, 0, 0, 0.55);    
            -webkit-transition: 0.5s ease;
            transition: 0.5s ease;
        }

        .card-title{
            text-align: center;
            font-size: 24px;
            //            color:#fff;
            margin-top: 0px;
            position: relative;
            z-index: 1;
        }

    }

    .card:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        transform: translate(0,-4px)
    }

    //.description { margin: 0 0 48px; }


    .icon-row4{
        background: $main-color;
        width: 320px;

        height: 60px;
        display: inline-block;
        position: absolute;
        left: 4px;
        top: -20px;
        margin: -20px 15px 0;
        padding: 15px;
        text-align: center;
        box-sizing: border-box;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);



    }    




    .card-content{
        margin-top: 25px;
        padding: 10px 10px;


        th{
            text-align: right;
            color:$secondary-color;
        }
        tr{
            firstchild{
                //            border-top: 0px solid;
                border-top: none;
            }
        }


        .see-more{
            float: left;
        }


    }



    .footer {
        color: black;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin: 0px  20px 15px;

        #next #prev{
            color: #0000;
        }


        [ripple] {
            z-index: 1;
            position: relative;
            overflow: hidden;
        }

        [ripple] .ripple {
            position: absolute;
            background: #000;
            width: 60px;
            height: 60px;
            border-radius: 100%;
            -webkit-transform: scale(0);
            -ms-transform: scale(0);
            transform: scale(0);
            -webkit-animation: ripple 2s;
            animation: ripple 2s;
        }



    }

    @-webkit-keyframes
    ripple {  0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0.2;
        }
        100% {
            -webkit-transform: scale(20);
            transform: scale(20);
            opacity: 0;
        }
    }
    @keyframes
    ripple {  0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0.2;
        }
        100% {
            -webkit-transform: scale(20);
            transform: scale(20);
            opacity: 0;
        }
    }




    .tab-content>.active {
        display: block;
        text-align: right;
    }

    .firstchild-td {
        float: left;
        padding-left: 20px;
        margin-bottom: 15px;
        color: $secondary-color;
        //        border-top: 0px solid;
    }




    .card-nav-tabs {
        position: relative;
        //                    float: left;
        padding: 10px 10px 10px 0;
        line-height: 24px;
        .nav-tabs {
            background: transparent;
            padding: 0;
            //            margin-top: -30px;
        }


    }
    .card-header{

        background: $main-color;
        width: 95%;
        height: 60px;
        display: inline-block;
        margin: -5px 0px 0;
        //                        position: absolute;
        //                        left: 19px;
        //                        top: -20px;
        padding: 15px;
        text-align: center;
        box-sizing: border-box;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);



        .nav-tabs {
            //                        background: #00acc1;
            border: 0;
            border-radius: 3px;
            padding: 29px 15px;
            overflow-x: none;
            a {
                color: #FFFFFF;
                border: 0;
                margin: 0;
                border-radius: 3px;
                line-height: 24px;
                font-size: 16px;
                text-decoration: none;
            }

        } 


    }
    .card-content-right {
        padding: 20px 20px;
        .table{
            th{
                text-align: right;
            }
        }
    }







    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        background-color: rgba(255, 255, 255, 0.2);
        transition: background-color .1s .2s;
    }
    .nav-tabs > li > a .fa {
        margin: 0px 5px 0 7px;
        vertical-align: middle;
    }

    .nav-tabs > li > a, .nav-tabs > li > a:hover,
    {
        background-color: transparent;
        font-weight: 500;

    }
    .table>tbody>tr>td{

        padding: 6px;
        font-size: 15px;
        line-height: 1.42857143;
        vertical-align: top;
        //        border-top: 1px solid #ddd;
        .see-more{
            float: left;
        }
    }


    .col-sm-12{

        margin-top: 70px;
    } 

}

#rounded-ic{

    width: 110px;
    height: 110px;
    border-radius: 50%;
    //    margin: -50px auto 0;
    border-radius: 50%;

}
.card-profile{


    .card-header{
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

        margin: -20px 15px 0;
        border-radius: 2px;
        padding: 15px;
        background-color: $main-color;
        height: 72px;
        width: 91%;
        .img{
            width: 52%;
        }
    }

    .content {
        //    margin-top: 70px;
        padding: 0px 15px;



        h3 {
            font-size: 26px;
            margin: 0px;
        }  
        .card-title {
            text-align: center;
            font-size: 22px;
            color: #9E9E9E;
            margin-top: 0px;
            position: relative;
            z-index: 1;
        }
    }
    .tab-content>.active {

        text-align: -webkit-auto;
    }




}


//...............slider..............

.card-row5{
    margin: 25px 0;
    font-family: myfont;
    background: #fff;
    border-radius: 2px;
    display: block;
    min-height: 450px;
    position: relative;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.7s cubic-bezier(.25,.8,.25,1);

    .card-header{
        position: absolute;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

        margin: -20px 15px 0;
        border-radius: 2px;
        padding: 15px;
        background-color: #0C4996;
        height: 72px;
        width: 97%;
        .card-title{
            color:#fff;
            font-family: myfont;
            line-height: 50px;
            margin: 0px;
            font-size: 27px;                   
        }

    }
    .carousel-inner {
        text-align: center;
        position: relative;
        width: 100%;
        /* overflow: hidden; */
        .see-more{
            color: $secondary-color;
            margin-top: 15px;
            &:hover{
                color: $third-color;
                transition: color .3s ease;
                text-decoration:none;

            }
        }
        .row{
            padding-top: 65px;
            padding-bottom: 20px;
        }


    }




    .col-md-9 h3{
        font-family: myfont;
        text-align: center;
    }


    .col-item 
    {
        font-family: myfont;
        border-radius: 5px;
        background: #FFF;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.7s cubic-bezier(.25,.8,.25,1);



        .photo{

            position: relative;
            top: -25px;
            width: 85%;
            right: 20px;
        }
        .photo img {
            margin: 0 auto;
            width: 100%;
        }

        .info {
            padding: 10px;
            border-radius: 0 0 5px 5px;
            margin-top: 1px;
            text-align: center;     

            .product-old h5{
                font-size: 22px;
                font-family: myfont;
            }

            .price {
                /*width: 50%;*/
                float: left;
                margin-top: 5px;
            }

            .col-item .price h5
            {
                line-height: 20px;
                margin: 0;

            }
        }
        .price-text-color
        {
            color: #219FD1;
            font-size: 18px;
        }

    }
    .col-item:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        transform: translate(0,-4px)
    } 


    .col-item:hover .info {
        //    background-color: #ffcf33;
    }






    .col-item .info .rating
    {
        color: #777;
    }

    .col-item .rating
    {
        /*width: 50%;*/
        float: left;
        font-size: 17px;
        text-align: right;
        line-height: 52px;
        margin-bottom: 10px;
        height: 52px;
    }

    .col-item .separator
    {
        border-top: 0px solid #E1E1E1;
    }


    .col-item .separator p
    {
        line-height: 20px;
        margin-bottom: 0;
        margin-top: 10px;
        text-align: center;
    }

    .col-item .separator p i
    {
        margin-right: 5px;
    }
    .col-item .btn-add
    {
        width: 50%;
        float: left;
    }

    .col-item .btn-add
    {
        border-right: 1px solid #E1E1E1;
    }

    .col-item .btn-details
    {
        width: 50%;
        float: left;
        padding-left: 10px;
    }
    .controls
    {
        margin-top: 20px;
    }
    [data-slide="prev"]
    {
        margin-right: 10px;
    }

    .phone{
        font-size: 16px;
    }


    //btn slider

    .btn-success {
        color: #fff;
        background-color: $main-color;
        border-color: $main-color;

    }





    .col-sm-3{
        margin-top: 50px;   
        text-align: left;
        float: none;
        display: inline-block;
    }


}


.fa-chevron-left {
    top: 275px;
    left: 45px;
    display: inline-block;
    position: absolute;
}

.fa-chevron-right {
    top: 275px;
    right: 45px;
    display: inline-block;
    position: absolute;
}


//
//
//.third-row{
//    margin-top: 70px;
//}

.entertain-div-wrap{
    width:100%;
    margin:auto;
    border-radius:2px;
    background:white;
    position:relative;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.7s cubic-bezier(.25,.8,.25,1);
    .carousel-inner {
        overflow: visible;
    }
    header{

        h1{
            background: white;
            color:#555;
            margin: 0;
            //text-transform:uppercase;
            padding:1rem;
            border-radius:2px 2px 0 0;
            box-shadow:0 2px 4px -2px rgba(0,0,0,0.3);
            position:relative;
            z-index:8;
            //            a{
            //                float: left;
            //                font-size: 15px;
            //                margin-top: 12px;
            //            }

        }

    }
    nav{
        width:100%;
        background-color: $main-color;

        @media (min-width:769px){
            //      float:left;
            width:96px;
            height:calc(82% - 6rem);
            border-radius:0 0 2px 0;
        }
        a{
            color: #ffffff;
            //            position: relative;
            //            top: 130px;
            margin-right: 10px;
            &:hover{
                text-decoration: none;
            }
            //  @media (max-width:767px){
            //            color: #ffffff;
            //            position: relative;
            //            top: -42px;
            //            /* left: 163px; */
            //            right: 600px;
            //            margin-right: 25px;
            //            }
        }
        ul{
            display:flex;
            padding: 0;
            @media (min-width:769px){
                display:block;
            }
        }

        li{
            line-height:3;
            padding:0 1rem;
            cursor:pointer;
            color:#ffffff;
            box-sizing:border-box;
            list-style-type: none;

            @media (min-width:769px){
                border-bottom:1px solid #f0f0f0;
                //                border-right:none;
            }
            &.hover{
                background:rgba(255,255,255,0.2);
            }
            &.pressed{
                background:rgba(255,255,255,0.7);
            }
            &.currentPage{
                background:rgba(255,255,255,0.5);
            }
        }

    }
}
.entertain-div-wrap:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transform: translate(0,-4px);
}

#contents{
    box-sizing:border-box;
    position:absolute;
    height:calc(100% - 6rem);
    width:100%;
    top:10rem;
    left:0;
    @media (min-width:769px){
        height:calc(100% - 3rem);
        width:calc(97% - 6rem);
        top:3rem;
        //  left:96px;
    }
    border-radius:0 0 0 2px;
    overflow:hidden;
    background-color: #ffffff;


}

article{
    position:absolute;
    min-height: 300px;
    width:100%;
    padding:4rem;
    box-sizing:border-box;
    background-color:white;
    top:0;
    left:-100%;
    .rest-card {
        position: relative;
        left: 25%;
        bottom: -183px;
        width: 230px;
        margin-top: 20px;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        background: #fff;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        -webkit-transition: box-shadow 0.3s;
        transition: box-shadow 0.3s;

        .thumb {
            height: 200px;
            overflow: hidden;
            background-color: #000;
            -webkit-transition: height 0.3s;
            transition: height 0.3s;
            img {
                display: block;
                opacity: 1;
                width: 100%;
                -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
                transition: opacity 0.3s, transform 0.3s;
                -webkit-transform: scale(1);
                -ms-transform: scale(1);
                transform: scale(1);
            }
            .card-title {
                color: #fff;
                position: absolute;
                bottom: 186px;
                left: 0;
                max-width: 100%;
                padding: 14px;
                background: rgba(0, 0, 0, 0.36);
                width: 100%;
            }
        }
        .body {
            height: 122px;
            overflow: hidden;
            position: relative;
            padding: 17px;
            color: grey;
            -webkit-transition: height 0.3s, color 0.3s;
            transition: height 0.3s, color 0.3s;
            .description{
                .fa{
                    float: left;
                    margin-right: 6px;
                }
            }
        }
        .footer {
            -webkit-transition: opacity 0.5s;
            transition: opacity 0.5s;
            padding-left: 20px;
            padding-top: 20px;
            padding-bottom: 20px;
            .buttons {
                background-color: #ffffff;
                border: none;
                font-size: 16px;
                color: lightblue;
                -webkit-transition: color 0.3s;
                transition: color 0.3s;  
            }
        }
        @media (max-width:992px){
            position: relative;
            left: 34%;
            bottom: -183px;
            width: 176px;
        }


    }

    .rest-card:hover {
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
    }

    .rest-card:hover .footer .buttons {
        color: $main-color;
    }

    &.hide{
        transition:left 0s 0.5s;
    }
    &:nth-of-type(1){
        z-index:5;
    }
    &:nth-of-type(2){
        z-index:4;
    }
    &:nth-of-type(3){
        z-index:3;
    }
    &:nth-of-type(4){
        z-index:2;
    }
    &:nth-of-type(5){
        z-index:1;
    }

    &.show{
        transition:left 0.5s;
        left:0;
        z-index:6;
    }


    section{
        width:100%;
        color:black;

        h1{
            font-size:1.5rem;
            margin:0 0 2rem 0;

        }

        .cafe-card{
            height: 220px;
            .cafe-card-head{
                padding: 5px;
            }
            .body .description .fa{
                float: right;
                margin-left: 2px;
            }

        }
    }
}

.multi {
    .carousel-inner .active.left {
        left: -25%;
    }
    .carousel-inner .next {
        left:  25%;
    }
    .carousel-inner .prev {
        left: -25%;
    }
    .carousel-control {
        width:  4%;
    }
    .carousel-control.right {
        margin-left:15px;
        background-image:none;
    }
    .carousel-control.left{
        margin-right: 15px;
        background-image:none;
    }

}


footer{
    background-color: $main-color;
    color: #ffffff;
    margin-top: 90px;
    padding: 13px;
    font-size: 17px;
    img{
        width: 10%;
        margin-top: -13px;
        margin-right: 12px;
    }
    .footer-ul{
        list-style-type: none;
        li{
            float: right;
            .fa{
                margin-right: 15px;
                font-size: 22px;
                line-height: 63px;
            }
        }
    }
    @media screen and (max-width: 767px){
        margin-top: 470px;  
    }

}

.advertising{
    background-color: #ffffff;
    height: 150px;
    width:100%;
    margin-top: 70px;
    @media screen and (max-width: 767px){
        position: relative;
        top: 392px;
    }
}

//
//-------------------------------------



@media screen and (min-device-width: 767px) and (max-device-width: 1440px) { 
    .card-row5 .col-item .photo img {
        margin: 0 auto;
        width: 100%;
    }

}
@media screen and (max-width: 1200px) {
    .card{
        margin-bottom: 70px;
        //        margin-top: 70px;
    }
    .content{
        margin-bottom: 70px;
        margin-top: 70px;
    }
    .bank-card{
        margin-bottom: 70px;
        .info{
            h3{
                padding: 43px 0;
            }
        }
        .footer{
            padding: 25px;
        }

    }
    .row-4 .col-sm-12 {
        margin-bottom: 110px;
        margin-top: 0;
    }
    article{
        width: 105%;
        //        padding: 0;
    }
    //    .card-content-right{
    //        margin-top: 70px;
    //    }  


    .row1{
        height: auto;
    }


}

@media screen and (max-width: 767px) {

    card-row5 .col-sm-3 {
        margin-top: 50px;
        text-align: left;
        margin-left: 0px;
        //    float: none;
        display: inline-block;
    }

    .col-xs-offset-3 {
        margin-left: 1px;
    }

    .card-row5 .col-item .photo img {
        margin: -20px auto;
        width: 100%;
    }
    .nav-tabs{
        float: right;
    }
    #contents{
        height: calc(100% - -31rem);
        .rest-card{
            //
            //            position: relative;
            //            left: 35%;
            //            bottom: -183px;
            //            width: 178px;
            position: relative;
            left: 178%;
            bottom: -183px;
            width: 220px; 



        }
        //        cafe-card{
        //            left: 54%;
        //               bottom: -183px;
        //            width: 178px;
        //            margin-top: 20px;
        //        }
    }

}
@media screen and (max-width: 600px) and (min-width: 415px) {
    .col-xs-4 {
        width: 40.333333%;
    }

}


@media screen and (min-device-width: 767px) and (max-device-width: 1200px) { 
    .card-row5 .col-item .photo img {
        margin: 0 auto;
        width: 100%;
        margin-right: -8px;
    }

}
@media screen and (min-width: 400px) and (max-width: 767px) {

    .card-row5 .card-header {

        margin: -20px 6px 0;
    }
    .card-row5 .col-item .photo img {

        margin-right: -7px;
    }
    .card-row5 .col-sm-3 {
        margin-top: 120px;
    }
    .row-4 .card-header {
        width: 89%;}
}

