body{
    margin: 0 ;
    padding: 0;
    font-size: 0;
    overflow-x: hidden;
    
}
.container{
    margin:0 auto;
    text-align: center;
    width: 1100px;
    
}
header{
    background: #100032 url(../img/bg-header.jpg) no-repeat center bottom;
    height: 617px;
    background-size: cover; 
    padding-top: 45px;
    margin-bottom: 0;
  
}
.logo{
    float: left;
    width: 40px;
    height: 40px;
}
header nav{
        margin-left: 110px;
        overflow: auto;
     
}
header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-right: 90px;
    margin-left: 90px;
    float: right;   
}

header nav ul li {
    display: inline-block;  
   
}

header nav ul li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;
    
}
header nav ul li  a:hover{
    color: lightgray;
    cursor: pointer;
}
.fa{
    font-size: 24px;
    margin-left: 8px;
}

.img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-color: white;
    vertical-align: middle;
     border: 4px solid white;

}
.navbar-divider{
    width: 5px;
    height: 5px;
    padding: 0;
    border-radius: 50%;
    background: rgba(255,255,255,0.2);
}
#hidden{
   
    height: 300px;
    background-color: white;
    position: absolute;
    right: 96px;
    top: 109px;
    border-radius: 6px;
    display: none;
/*    text-align: center;*/
/*    padding-top: 25px;*/
    padding: 20px;
}
#hidden .img{
    width:60px;
    height: 60px;
}
#hidden .name{
    display: inline-block;
    vertical-align: top;
    
}
#hidden h3,#hidden p{
  padding-top: 7px;
    margin: 0;
    font-size: 15px
    
}
#hidden p{
   padding-left: 0;
    padding-right: 0;
    color: darkgray;
}
#hidden .border{
    border-bottom: 1px solid #e9eaec;
        padding: 10px;
    
}
#hidden ul li a{
    text-decoration: none;
        color: #424753;
}
#hidden ul li{
    list-style:none;
    font-size: 14px;
    padding-left: 0;
    padding-top: 15px;

}
#hidden ul li  a:hover{
    color: rgba(156, 39, 176, 0.48);
    cursor: pointer;
}
#hidden ul{
        padding: 0;
}
#hidden .log-out{
    color: lightgray;
}
#hidden .pen{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: white;
    background-color: #4040ff;
    text-align: center;
    font-size: 20px;
    float: right;
    overflow: auto;
    overflow: auto;
    margin-right: 27px;
}
#hidden .pen .fa{
        margin: 0;
    margin-top: 8px;
}
.header-article{   
    padding-top: 70px;
    position: relative;
}

.fa-linkedin ,.fa-twitter, .fa-facebook{
    color: rgba(255,255,255,0.5);
}
.header-article ul li{
    display: inline-block;
}

.header-article p{
    text-align: center;
    color: white;
    font-size:30px;
    
   
}
.header-article h1{
    font-size:80px;
     margin-bottom: 0;
    color: white;
   
}
.header-article a{
   color: rgba(255,255,255,0.5);
}
.header-article a:hover{
    color: white;
    cursor: pointer;
}
.header-article p .itlaic-span{
    font-style: italic;
}

.button {
    background-color: transparent;
    border-color: white;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    cursor: pointer;
     border-width: 1px;
    line-height: 1.1538;
    vertical-align: middle;
    border-radius: 40px;
     padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 17px;
    padding-top: 17px;
    margin-top: 33px;
    margin-bottom: 100px;
}
.button:hover{
    background-color: lightgray;
}
.fa-diamond{
    padding-right: 11px;
}
.header-article ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
 
}
.header-article ul li span{
    padding-right: 10px;
     color: white;
}
   
.header-article i{
    padding-right: 5px;
    font-size: 17px;
}
.header-article ul li a{
    border-left: 1px solid rgba(255,255,255,0.25);
     font-size: 17px;
}
.header-article .first-anchor{
    border: none;
}
.header-article ul li a i:hover{
    color:white;
    cursor: pointer;
}


#mock{
/*    padding-top: 75px;*/
    background-color: #f4f5f7;
        color: #424753;     
    padding-top: 250px;
    opacity: 0;
   font-size: 17px

}
#mock p{
        margin-bottom: 46px;
        font-weight: 300;
         
}

.animate1{
    animation-name: mockAnimation;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@-webkit-keyframes mockAnimation{
    0%{
        padding-top: 250px;
        opacity: 0;
    }

    100%{
        padding-top: 100px;
        opacity: 1;
    }
}
.second-section{
    padding-top: 100px;
}
.second-section section div{
    border-radius: 50%;
    height: 80px;
    width: 80px;
    border: 5px solid #f5f5f5;
    text-align: center;
    display: inline-block;
    line-height: 91px
    
    
}
.second-section section{
   width: 322px;
   display: inline-block;
  text-align: center;
  padding-left: 12px;
    padding-right: 12px;
    
}
.second-section .fa{
    margin-left: 0;
    color: #424753;
}
.fa-font:before {
    font-size: 30px;
}
.fa-bolt:before{
    font-size: 30px;
}
.fa-heart:before{
  font-size: 30px;  
}
.second-section h4{
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 0;
     margin-top: 25px;
    color: #424753;
    
}
.second-section h6{
    font-size: 1rem;
    font-weight: 300;
    line-height: 2;
    margin-top: 0;
    color:#818a91;
    
}
.second-section h6:after{
    display: block;
    width: 80%;
    height: 1px;
    margin: 30px auto 0;
    content: '';
    background-color: #ededed;
}
.second-section p{
    color:#818a91;
    font-size: 19px;
    line-height: 34px;
}
#video-container{
        padding-top: 70px;
}
#video-container ,#video , #video-controls{
      width: 1349px;

    
}

#play-pause ,#mute ,#full-screen{
    background-color:royalblue;
    border: none;
    color: white;
    padding: 8px 19px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
}
#seek-bar{
       width: 933px;
      
    height: 0.3125rem;
/*    width: 100%;*/
    background-color: #fff;
    border-radius: 2px;
}




.sub{
    display: inline-block;
    height: 550px;
    background-color: white;
     width: 345px;
    text-align: center;
    border-radius: 10px;

}
.profissional{
    display: inline-block;
    background-color: white;
    height: 590px;
     width: 345px;
    border: 2px solid #6c59b4;
    text-align: center;
        margin-right: 1px;
    margin-left: 1px;

   
   
}
.subscription{
    position: relative;
    top:95px;
    background-color: #f4f5f7;
    padding-top: 40px;
    height: 820px;
}
subscription .sub-title{
    text-align: center;
    font-size: 22px;
     font-weight: 100;
    padding-bottom: 30px;
}
 .sub-title h1{
    margin-bottom: 55px;
}
.sub .title h4{
    margin: 0;
    padding: 17px;
    font-size: 15px;
}

.title{
    text-align: center;
    background-color: #eceff3;
}

.profissional div h4{
    font-size:15px;

} 


.price{
    display: inline-block;
    
    
}
.sub div p{
    margin-bottom: .625rem;
    font-size: 19px;
    font-weight: 300;
    line-height: 2;
    color:#8d8d9d;
}
.sub ul{
     list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.sub  ul li {
        border-bottom: 1px solid #ddd;
        padding-bottom: 15px;
        padding-top: 15px;
        font-size: 19px;
         color: #8d8d9d;
}
small{
     color: #8d8d9d;
}
.sub button{
    background-color: white; 
    color: #6c59b4; 
    border: 2px solid #6c59b4;
     padding: 21px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    border-radius: 40px;
    margin-top: 75px;
}
.sub button:hover{
    background-color: #6c59b4;
    color: white;
}
.profissional div h4{
    background-color: #6c59b4;
    text-align: center;
     color: white;
     margin: 0;
    padding: 17px;
    
}
.profissional button{
    background-color: #6c59b4; 
    border: none;
    color: white; 
     padding: 21px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    border-radius: 40px;
    margin-top: 22px;
}
.sub ul li.last-child{
    border: none;
}
.price span{
        font-size: 65px;
       font-weight: 600;
}

.price small{
    font-size: 12px;
}

.price sup{
    font-size: 15px;
}


.quotes-section{
    background-image: url(../img/bg-testimonials.jpg) ;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    height: 500px;
    width:100%;
    color: white;
    padding-top: 105px;
    text-align: center;
    
}
.quote{
    height: 315px;
    padding-top: 90px;
}
.quote img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border:  4px solid #fff;
    
}
#sp{
    font-size:15px;
}
.quotes-section section ul li img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border:  4px solid #fff;
    
}
.quotes-section section ul li{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
    opacity: 0.5;
   
    
}
.quotes-section section ul li:hover{
     cursor: pointer;
     opacity: 1;
}
.quote p{
        font-size: 36px;
}

.quotes-section section ul .active{
    opacity: 1;
    width: 50px;
    height: 50px;
    
}
.quotes-section .quote span:after{

    display: block;
    width: 44px;
    height: 1px;
    margin: 15px auto 0;
    content: '';
    background-color: rgba(255,255,255,0.25);
}

#left-position{
    position: relative;
    left: 347px;
    opacity: 0;
}
#right-position{
     position: relative;
    right: 347px;
    opacity: 0;
}


.animate2{
    animation-name: leftDivAnimation;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@-webkit-keyframes leftDivAnimation{
    0%{
        position: relative;
        left: 347px;
        opacity: 0;
    }

    100%{
         position: relative;
        left: 0px;
        opacity: 1;
    }
}
.animate3{
    animation-name: rightDivAnimation;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@-webkit-keyframes rightDivAnimation{
    0%{
         position: relative;
         right: 347px;
         opacity: 0;
    }

    100%{
          position: relative;
            right: 0px;
            opacity: 1;
    }
}



.paragraphs-section{
    height: 424px;
    width:100%;
    padding-top: 75px;
    display: inline-block;
    color:#a7a7a7;
    padding-bottom: 100px;
}

.paragraphs-section section .first-paragraph{
    width: 404px;
    height: 248px;
    display: inline-block;
     font-size: 19px;
     line-height: 32px;
    border-right: 1px solid rgba(192, 162, 162, 0.52);
    padding-right: 107px;
    
}
.paragraphs-section h1{
    font-weight: 600;
    color: dimgray;
    font-size: 35px;
}

.paragraphs-section section .second-paragraph{
    margin-left: 88px;
     width: 404px;
    height: 400px;
    display: inline-block;
    font-size: 19px;
     line-height: 32px;
}

.paragraphs-section section{
        padding-top: 50px;
}



.seventh-first figure, .seventh-second figure{
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 500px;
    height: 400px;
}
.seventh-first article ,.seventh-second article{
   display: inline-block;
    margin: 0;
    padding: 0;
    width: 390px;
    height: 160px;
    background-color: black;
    color: white;
    vertical-align: top;
    font-size: 17px;
    padding-bottom: 120px;
    padding-top: 120px;
       padding-left: 56px;
    padding-right: 56px;
    
}
figure img{
    width: 500px;
    height:400px;
    
}
article .back-blue{
    background-color: #2b8be3;
    border-radius: 18px;
    padding: 4px 9px;
    line-height: 3;
   margin-right: 230px;
}
.seventh-first h3 a , .seventh-second  h3 a {
    text-decoration: none;
    color: white;
   
}
.seventh-first, .seventh-second
{
        margin-left: 174px;
    
}
.seventh-first h3, .seventh-second  h3{
    display: inline-block;
    vertical-align: top;
/*
        margin: 0;
    padding: 0;
*/
}
 .designstudio-div{
            margin-right: 73px;
    }
.seventh-first article .gray ,.seventh-second article .gray{
    color: rgba(255,255,255,0.6);
}
.seventh-first article .fa-tags, .seventh-second article .fa-tags , .seventh-first article .fa-clock-o, .seventh-second article  .fa-clock-o{
     color: rgba(255,255,255,0.6);
}

.footer{
        font-size: 15px;
        padding-top: 70px;
         background-color: #f4f5f7;
        margin-top: 95px;
        height: 298px;
}
.footer section div{
     position: relative;
    width: 252px;
    height: 48px;
    display: inline-block;
        padding-right: 22px;
    
}
.footer section div img{
    position: absolute;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-right: 1px solid lightgrey;
    left: 16px;
    top: 12px;


}
.footer section input[type=text]{
           width: 187px;
         height: 48px;
        padding-left: 61px;
        border-radius: 5px;
         border: 1px solid rgba(187, 186, 186, 0.58);
        font-size: 15px;
}
.footer .check{
    padding-top: 25px;
        padding-right: 820px;
    
}
.footer button{
       
    background-color: #6c59b4; 
    border: none;
    color: white; 
     padding: 21px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
   
    cursor: pointer;
    border-radius: 40px;
    margin-top: 22px;
}
.footer section h2{
        margin-bottom: 45px;
    font-size: 28px;
    color: #6a6565;
    font-weight: 200;
}
.copyright-footer{
    width: 100%;
    height: 76px;
    background-color: #312f38;
    color: white;
    font-size: 15px;
    padding-top: 96px;
    padding-bottom: 96px;
    float: left;
}
.copyright-footer article span{
    float: left;
}
.copyright-footer article p{
    float: left;
    margin: 0;
    padding: 0;
}
.copyright-footer article .logo{
    padding-right: 23px;
}
.copyright-footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-right: 90px;
    margin-left: 90px;
    float: right;   
}
 .copyright-footer nav ul li {
    display: inline-block;  
   
}
.copyright-footer nav ul li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 600;
    font-size: 17px;
    
}
.copyright-footer nav ul small{
    color: white;
    font-weight: 100;
}

/*
.footer section div input{
    border: none;
}
*/
