.bar, .center .skills2 .bars .bar1 {
    background-color: rgba(158, 158, 158, 0.53);
    width: 410px;
    height: 4px; }

.bar2, .center .skills2 .bars .bar1 .bar11, .center .skills2 .bars .bar1 .bar22, .center .skills2 .bars .bar1 .bar33, .center .skills2 .bars .bar1 .bar44 {
    background-color: #00bcd4;
    height: 4px; }

.inline-block, header .head .name, header .head .social, header .head .social .icons, .all .image, .all .leftdiv, .all .leftdiv .introd, .all .leftdiv .introd .introd1, .footer .right, .footer .right .div, .footer .left, .footer .left .div {
    display: inline-block;
    vertical-align: top; }

.paragraphaarrow, .footer .right .div .p, .footer .left .div .p {
    display: inline-block;
    vertical-align: top;
    width: 105px;
    height: 45px;
    background-color: #00bcd4;
    text-align: center;
    padding-top: 0px;
    color: white;
    position: relative; }

.circles, .footer .line .circle1, .footer .line .circle2, .footer .line .circle3, .footer .line .circle4, .footer .line .circle5, .footer .line .circle6 {
    position: relative;
    right: 4px; }

.after-before, .footer .right .div .p:after, .footer .right .div .p:before, .footer .right .div:after, .footer .right .div:before, .footer .left .div .p:after, .footer .left .div .p:before, .footer .left .div:after, .footer .left .div:before {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }

body {
    background-color: rgba(128, 128, 128, 0.23); }

header .head {
    background-color: #00bcd4;
    height: 400px;
    padding: 50px 156px;
    box-sizing: border-box;
    color: white; }
header .head:after {
    content: "";
    display: block;
    clear: both; }
header .head .name {
    margin: 8px; }
header .head .name h1 {
    line-height: 5px; }
header .head .social {
    float: right;
    margin: 10px;
    padding-top: 13px; }
header .head .social .icons {
    width: 40px;
    height: 40px;
    background-color: #00bcd4;
    box-shadow: 1px 1px 1px  #9e9e9e;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    border-radius: 50px;
    margin: 5px;
    text-align: center; }
header .head .social .icons .fa {
    padding: 10px; }

.all {
    background-color: white;
    display: inline-block;
    width: 75%;
    height: 450px;
    position: absolute;
    top: 193px;
    left: 164px;
    display: inline-block; }
.all .image {
    width: 35.5%; }
.all .image img {
    width: 363px;
    height: 450px;
    margin: 0; }
.all .leftdiv {
    width: 63%; }
.all .leftdiv .introd {
    margin: 0;
    margin-top: 20px;
    padding-left: 50px;
    width: 63%;
    height: 352px; }
.all .leftdiv .introd .introd1 {
    height: 148px;
    width: 500px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.23); }
.all .leftdiv .introd .introd1 p {
    margin: 0;
    background-color: #00bcd4;
    width: 140px;
    height: 8px;
    padding-top: 12px;
    text-align: center;
    color: white; }
.all .leftdiv .introd .introd1 h1 {
    display: inline-block; }
.all .leftdiv .introd .introd1 .olivia {
    color: #00bcd4;
    display: inline-block; }
.all .leftdiv .introd .introd1 h3 {
    margin: 0; }
.all .leftdiv .introd .introd2 ul {
    list-style-type: none;
    display: inline-block;
    padding-left: 0px;
    margin: 0; }
.all .leftdiv .introd .introd2 ul li {
    margin: 15px; }
.all .leftdiv .social2 {
    display: inline-block;
    background-color: #00bcd4;
    width: 649px;
    height: 78px;
    padding-left: 42px;
    box-sizing: border-box; }
.all .leftdiv .social2 .icons2 {
    margin: 30px;
    display: inline-block; }
.all .leftdiv .social2 .icons2 .fa {
    font-size: 22px;
    color: white; }

.center {
    display: inline-block;
    position: relative;
    top: 319px;
    width: 77%;
    left: 11%;
    height: 410px; }
.center .skills {
    display: inline-block;
    vertical-align: top;
    width: 1000px;
    text-align: center; }
.center .skills h1 {
    height: 65px;
    color: #00bcd4; }
.center .skills2 {
    display: inline-block;
    vertical-align: top;
    padding: 40px;
    background-color: white;
    box-shadow: 0px 4px 17px 0px #888888; }
.center .skills2 .paragraph {
    display: inline-block;
    vertical-align: top;
    width: 50%; }
.center .skills2 .paragraph p {
    width: 87%; }
.center .skills2 .bars {
    display: inline-block; }
.center .skills2 .bars:after {
    content: "";
    display: block;
    clear: both; }
.center .skills2 .bars h3 {
    display: inline-block; }
.center .skills2 .bars p {
    float: right;
    margin: 0;
    padding: 22px; }
.center .skills2 .bars .bar1 .bar11 {
    width: 90%; }
.center .skills2 .bars .bar1 .bar22 {
    width: 85%; }
.center .skills2 .bars .bar1 .bar33 {
    width: 75%; }
.center .skills2 .bars .bar1 .bar44 {
    width: 80%; }

.footer {
    position: relative;
    top: 415px;
    left: 159px;
    display: inline-block; }
.footer .education {
    width: 1000px;
    text-align: center;
    color: #00bcd4; }
.footer .right {
    width: 455px; }
.footer .right .div {
    position: relative;
    background-color: black;
    color: white;
    width: 462px;
    height: 197px;
    margin-top: 23px;
    background-color: white;
    color: black;
    box-sizing: border-box;
    padding-left: 46px;
    padding-top: 10px;
    box-shadow: 0px 4px 17px 0px #888888; }
.footer .right .div .p:after, .footer .right .div .p:before {
    bottom: 100%;
    right: 77%;
    border: solid transparent; }
.footer .right .div .p:after {
    border-color: rgba(89, 164, 213, 0);
    border-bottom-color: #00bcd4;
    border-width: 12px;
    margin-left: 28px; }
.footer .right .div:after, .footer .right .div:before {
    left: 100%;
    top: 26%; }
.footer .right .div:after {
    border-color: rgba(89, 164, 213, 0);
    border-left-color: white;
    border-width: 17px;
    margin-top: -30px; }
.footer .right .div:before {
    border-color: rgba(194, 225, 245, 0);
    border-left-color: #c2e1f5;
    border-width: 23px;
    margin-top: -36px; }
.footer .line {
    width: 6px;
    height: 700px;
    background-color: white;
    box-shadow: 0px 3px 6px 0px #888888;
    display: inline-block;
    margin-right: 35px;
    margin-left: 35px;
    margin-top: 23px; }
.footer .line .circle {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    border-radius: 50px;
    background-color: #00bcd4;
    width: 15px;
    height: 15px; }
.footer .line .circle1 {
    top: 29px; }
.footer .line .circle2 {
    top: 76px; }
.footer .line .circle3 {
    top: 221px; }
.footer .line .circle4 {
    top: 261px; }
.footer .line .circle5 {
    top: 411px; }
.footer .line .circle6 {
    top: 457px; }
.footer .left {
    width: 500px;
    position: relative;
    top: 60px; }
.footer .left .div {
    position: relative;
    background-color: white;
    color: white;
    width: 462px;
    height: 197px;
    margin-top: 23px;
    color: black;
    box-sizing: border-box;
    padding-left: 46px;
    padding-top: 10px;
    box-shadow: 0px 4px 17px 0px #888888; }
.footer .left .div .p:after, .footer .left .div .p:before {
    bottom: 100%;
    left: 50%; }
.footer .left .div .p:after {
    border-color: rgba(89, 164, 213, 0);
    border-bottom-color: #00bcd4;
    border-width: 12px;
    margin-left: 28px; }
.footer .left .div:after, .footer .left .div:before {
    right: 100%;
    top: 26%; }
.footer .left .div:after {
    border-color: rgba(89, 164, 213, 0);
    border-right-color: white;
    border-width: 17px;
    margin-top: -31px; }

/*# sourceMappingURL=cv.css.map */
