@font-face {
  font-family: 'CoconRNext-Arabic';
  src: url("../fonts/CoconRNext-Arabic-Light.otf"); }
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  font-family: 'CoconRNext-Arabic';
  background-color: #F7F7F7;
  margin: 0;
  padding: 0; }

.card-header {
  background-color: #0C4996;
  color: #ffffff;
  width: 100%;
  height: 75px;
  border-radius: 2px;
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  padding-right: 25px;
  padding-left: 25px;
  margin-bottom: 50px; }
  .card-header h1 {
    vertical-align: middle;
    line-height: 75px;
    margin: 0;
    display: inline-block;
    font-size: 28px; }
  .card-header a {
    color: #ffffff;
    text-decoration: none; }
    .card-header a .fa {
      float: right;
      font-size: 35px;
      line-height: 75px;
      cursor: pointer; }

.row {
  margin: 0; }

.clickable {
  cursor: pointer; }

.panel-heading div {
  margin-top: -18px;
  font-size: 15px; }

.panel-heading div span {
  margin-left: 5px; }

.panel-body {
  display: none; }

nav {
  z-index: 9;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  text-align: center; }

.text-color {
  color: #46a1de;
  transition-duration: .5s; }

footer {
  padding: 40px 0;
  text-align: center;
  opacity: .33;
  color: white; }

.wrapper {
  min-width: 600px;
  max-width: 900px;
  margin: 0 auto; }

.tabs {
  display: table;
  padding-right: 0;
  table-layout: fixed;
  width: 100%;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  background-color: #0C4996;
  border-radius: 6px;
  margin-bottom: 0; }
  .tabs > li {
    transition-duration: .25s;
    display: table-cell;
    list-style: none;
    text-align: center;
    padding: 20px 20px 25px 20px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    color: #ffffff;
    font-size: 17px; }
    .tabs > li:before {
      z-index: -1;
      position: absolute;
      content: "";
      width: 100%;
      height: 120%;
      top: 0;
      left: 0;
      background-color: rgba(255, 255, 255, 0.3);
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
      transition-duration: .25s;
      border-radius: 5px 5px 0 0; }
    .tabs > li:hover:before {
      -webkit-transform: translateY(70%);
      transform: translateY(70%); }
    .tabs > li.active {
      color: #26abef;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
      .tabs > li.active:before {
        transition-duration: .5s;
        background-color: white;
        -webkit-transform: translateY(0);
        transform: translateY(0); }

.tab__content {
  position: relative;
  width: 100%;
  border-radius: 5px; }
  .tab__content > li {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    list-style: none; }
    .tab__content > li .content__wrapper {
      text-align: center;
      border-radius: 5px;
      width: 100%;
      padding: 45px 40px 40px 40px;
      background-color: white;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

.panel {
  border: none; }
  .panel > .panel-body + .table {
    border-top: none; }
  .panel .panel-body {
    display: none; }
  .panel .panel-heading {
    background-color: #ffffff;
    border: 1px solid #d6e9c6;
    color: rgba(128, 128, 128, 0.7); }
    .panel .panel-heading .pull-right i {
      font-size: 18px; }
  .panel thead th {
    text-align: right; }
  .panel tbody tr td {
    vertical-align: middle; }
    .panel tbody tr td img {
      width: 40px; }
    .panel tbody tr td a {
      color: black; }
      .panel tbody tr td a:hover {
        color: #ffcf33;
        text-decoration: none; }
    .panel tbody tr td p img {
      width: 105px; }
    .panel tbody tr td p i {
      margin-left: 10px; }

.content__wrapper h2 {
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
  font-weight: 300; }
.content__wrapper img {
  width: 100%;
  height: auto;
  border-radius: 5px; }

/*# sourceMappingURL=tourism-companies.css.map */
