
.center{
        display: inline-block;
        position: relative;
        top:319px;
        width: 77%;
        left: 11%;
        height: 410px;
    
    .skills{
        display: inline-block;
        vertical-align: top;
         width: 1000px;
        text-align: center;
           h1{
           
               height: 65px;
               color:$main-color;
              }
          }
    .skills2{
            display: inline-block;
            vertical-align: top;
            padding: 40px;
            background-color: $fourth-color;
            box-shadow:0px 4px 17px 0px #888888;
         .paragraph{
                       display: inline-block;
                        vertical-align: top;
                        width: 50%;

                        p{
                            width:87%;
                        }

                    }
            .bars{
                display: inline-block;
                  &:after{
                        content: "";
                        display: block;
                        clear: both;
                    }

                h3{
                   display: inline-block;


                   }
                p{
                    float:right;
                    margin: 0;
                    padding: 22px;

                }
                    .bar1{
                       @extend.bar;

                        .bar11{
                             @extend.bar2;
                            width: 90%;
                            
                        }
                         .bar22{
                            @extend.bar2;
                            width: 85%;
                           
                        }
                           .bar33{
                             @extend.bar2;
                            width: 75%;

                        }
                               .bar44{
                            @extend.bar2;
                            width: 80%;
                            
                        }
                    }
                     
                    
            }

    }
    
}