
.footer{
        position: relative;
        top: 415px;
        left: 159px;
        display: inline-block;

    .education{
        width: 1000px;
        text-align: center;
        color: $main-color;
        }
  
    .right{
             @extend.inline-block;
            width: 455px;
             
          .div {
                position: relative;
                 @extend.inline-block;
                    background-color: black;
                    color: $fourth-color;
                    width: 462px;
                    height: 197px;
                    margin-top: 23px;
                   background-color: $fourth-color;
                   color: black;
                    box-sizing: border-box;
                    padding-left: 46px;
                    padding-top: 10px;
                box-shadow: 0px 4px 17px 0px #888888;
                  .p{
                    
                @extend.paragraphaarrow;
                  }
                 .p:after, .p:before {
                    bottom: 100%;
                    right: 77%;
                    border: solid transparent;
                    @extend .after-before;
                            }
                  .p:after {
                        border-color: rgba(89, 164, 213, 0);
                        border-bottom-color: $main-color;
                        border-width: 12px;
                        margin-left: 28px;
                            }
           
                   }
                .div:after, .div:before {
                left: 100%;
                top: 26%;
                @extend.after-before;
                 }

                 .div:after {
                border-color: rgba(89, 164, 213, 0);
                border-left-color: $fourth-color;
                border-width: 17px;
                margin-top: -30px;
                    }
                .div:before {
                border-color: rgba(194, 225, 245, 0);
                border-left-color: #c2e1f5;
                border-width: 23px;
                margin-top: -36px;
                  }

            
            }
        
      .line{
        width: 6px;
          height: 700px;
          background-color: white;
          box-shadow:0px 3px 6px 0px #888888;
          display: inline-block;
            margin-right: 35px;
            margin-left: 35px;
            margin-top: 23px;
          .circle{
              @include border-radius(50px);
              background-color: $main-color;
              width: 15px;
              height: 15px;    
              }
          .circle1{
               @extend.circles;
               top: 29px;
              
                }
          .circle2{
              @extend.circles;
             top: 76px;
              }
          .circle3{
              @extend.circles;
              top: 221px;
              
               }
          .circle4{
              @extend.circles;
              top: 261px;
              
               }
          .circle5{
              @extend.circles;
              top: 411px;
           
          }
          .circle6{
              @extend.circles;
               top: 457px;
              
           }
       }
        .left{
             @extend.inline-block;
            width: 500px;
            position: relative;
            top:60px;
            .div{
                 position: relative;
                  @extend.inline-block;
                    background-color: $fourth-color;
                    color: $fourth-color;
                    width: 462px;
                    height: 197px;
                    margin-top: 23px;
                    color: black;
                    box-sizing: border-box;
                    padding-left: 46px;
                    padding-top: 10px;
                box-shadow: 0px 4px 17px 0px #888888;
                    .p{
                    @extend.paragraphaarrow;
                    }
         .p:after, .p:before {
                bottom: 100%;
                left: 50%;
             @extend.after-before;
                            }
              .p:after {
                border-color: rgba(89, 164, 213, 0);
                border-bottom-color:  $main-color;
                border-width: 12px;
                margin-left: 28px;
                            }
    
            }

    .div:after, .div:before {
        @extend.after-before;
        right: 100%;
        top: 26%;
    
    }

    .div:after {
        border-color: rgba(89, 164, 213, 0);
        border-right-color:  $fourth-color;
        border-width: 17px;
        margin-top: -31px;
    }
  
     }  
    
    
  }