body{
    background-color:   $second-color;
}

header{
      .head{
        background-color: $main-color;
        height: 400px;
        padding: 50px 156px;
        box-sizing: border-box;
        color: white;
          &:after{  
            content: "";
            display: block;
            clear: both;
              }
          .name{
                @extend.inline-block;
               margin: 8px;
              
               h1{
               line-height: 5px;
              
                 }     
             }
          .social{
             float: right;
             @extend.inline-block;
              margin: 10px;
              padding-top: 13px; 
              .icons{
                  
                  @extend.inline-block;
                  width: 40px;
                  height: 40px;
                  background-color: $main-color;
                   box-shadow: 1px 1px 1px  #9e9e9e;
                  @include border-radius(50px);   
                  margin:5px;
                  text-align: center;
                  .fa {
                      padding: 10px;
                  }
                  
              }
          }
    
      }
       
    
    }