.all{
     background-color: $fourth-color;
     display: inline-block;
     width:75%;
     height:450px;
     position: absolute;
     top: 193px;
     left: 164px;
     display: inline-block;
    .image{
                @extend.inline-block;
                    width: 35.5%;
        img{
            width:363px;
            height: 450px;
            margin:0;
       
           }
        
      }
    .leftdiv{
            
            width:63%;
            @extend.inline-block;
        .introd{
            @extend.inline-block;
            margin:0;
            margin-top: 20px;
            padding-left: 50px;
            width: 63%;
            height: 352px;

            .introd1{
                   @extend.inline-block;
                   height: 148px;
                    width: 500px;
                    border-bottom: 2px solid $second-color;

                 p{
                        margin:0;
                        background-color: $main-color;
                        width: 140px;
                        height: 8px;
                        padding-top: 12px;
                        text-align: center;
                         color: $fourth-color;

                   }

                    h1{
                        display: inline-block;
                    }
                    .olivia{
                        color: $main-color;
                        display: inline-block;
                     }
                    h3{
                        margin: 0;
                     }

                 }
            .introd2{
           
                        ul{
                            list-style-type: none;
                            display: inline-block;
                            padding-left: 0px;
                            margin: 0;

                            li{
                                margin: 15px;
                            }
                        }
            }
          }
    
            .social2{
                 display: inline-block;
                 background-color: $main-color;
                 width: 649px;
                 height: 78px;
                 padding-left: 42px;
                 box-sizing: border-box;
                .icons2{
                    margin: 30px;
                    display: inline-block;

                        .fa{
                                font-size: 22px;
                                 color: $fourth-color;
                           }


                    }
                }
        }
}