.bar{
    background-color: $third-color;
    width:410px;
  height: 4px;  
}
.bar2{
    background-color: $main-color;
    height: 4px;
}
.inline-block{
     display: inline-block;
     vertical-align: top;
}
.paragraphaarrow{
               display: inline-block;
                        vertical-align: top;
                           width: 105px;
                         height: 45px;
                      background-color: $main-color;
                      text-align: center;
                     padding-top: 0px;
                      color: white;
                      position: relative;
}
.circles{
    position: relative;
     right: 4px;
}
.after-before{
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
}