@mixin border-radius($rad) {
  -webkit-border-radius: $rad;
     -moz-border-radius: $rad;
      -ms-border-radius: $rad;
          border-radius: $rad;
}



// @include border-radius(50px); 