/*-------------------------------*/


/*           Font           */


/*-------------------------------*/

@font-face {
    font-family: 'CoconRNext-Arabic';
    src: url('../fonts/CoconRNext-Arabic-Light.otf');

}



@font-face {
    font-family: myfont;
    src: url('../fonts/CoconRNext-Arabic-Light.otf');

}

/*-------------------------------*/


/*           VARIABLES           */


/*-------------------------------*/
// BACKGROUND COLOR
$bg-color: #F7F7F7;
// TEXT COLOR
$text-color: #fff;
$main-color:#0C4996;
$secondary-color:#26abef;
$third-color:#ffcf33;


body{
    background: $bg-color;
}

.card-header{
    padding-right: 25px;
    padding-left: 25px;
    margin-bottom: 50px;
    background-color: $main-color;
    color: #ffffff;
    width: 100%;
    height: 75px;
    border-radius: 2px;
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    
    h1{
        vertical-align: middle;
        line-height: 75px;
        margin: 0;
        display: inline-block;
        font-size: 28px;
        font-family: myfont;
        color:#ffffff;

    }
    a {
        color: #ffffff;
        text-decoration: none;
        .fa{
            float: right;
            font-size: 35px;
            line-height: 75px;
            cursor: pointer;
        }
    }   
}




.menu{
  width: 620px;
  margin: 100px auto; padding: 15px;	  
  list-style: none;
  counter-reset: li;
  
//  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
//  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
//  box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
//  -moz-border-radius: 10px;
//  -webkit-border-radius: 10px;
//  border-radius: 10px;
}

.menu:after {
  clear: both;
}

.menu {
  zoom:1;
}

/* -------------------------------- */        

.menu li {
  position: relative;
  float: left;
  cursor: pointer;
  height: 120px; width: 200px;
  margin: 10px 0 0 10px;
  color: #fff;
} 

.menu li:hover, .menu li:focus{
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,.2)), to(rgba(255,255,255,0)));
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,.2), rgba(255,255,255,0));
  background-image: -moz-linear-gradient(top, rgba(255,255,255,.2), rgba(255,255,255,0));
  background-image: -ms-linear-gradient(top, rgba(255,255,255,.2), rgba(255,255,255,0));
  background-image: -o-linear-gradient(top, rgba(255,255,255,.2), rgba(255,255,255,0));
  background-image: linear-gradient(top, rgba(255,255,255,.2), rgba(255,255,255,0));
}

.menu .cover{
  z-index: 2;
}

.menu .cover:focus{
  outline: 0;
}     

.menu li:nth-child(1),
.menu li:nth-child(2),
.menu li:nth-child(3){
  margin-top: 0;
}

.menu li:nth-child(1),
.menu li:nth-child(4),
.menu li:nth-child(7){
  margin-left: 0;      
}

/* -------------------------------- */       

.menu li:nth-child(1),
.menu li:nth-child(1) .content,
.menu li:nth-child(1) .close{
  background-color: $main-color;
}         
.menu li:nth-child(2),
.menu li:nth-child(2) .content,
.menu li:nth-child(2) .close{
  background-color: $main-color;
} 
.menu li:nth-child(3),
.menu li:nth-child(3) .content,
.menu li:nth-child(3) .close{
  background-color: $main-color;
}
.menu li:nth-child(4),
.menu li:nth-child(4) .content,
.menu li:nth-child(4) .close{
  background-color: $main-color;
}

.menu li:nth-child(5),
.menu li:nth-child(5) .content,
.menu li:nth-child(5) .close{
  background-color: $main-color;
}  

.menu li:nth-child(6),
.menu li:nth-child(6) .content,
.menu li:nth-child(6) .close{
  background-color: $main-color;
} 

.menu li:nth-child(7),
.menu li:nth-child(7) .content,
.menu li:nth-child(7) .close{
  background-color: $main-color;
}   

.menu li:nth-child(8),
.menu li:nth-child(8) .content,
.menu li:nth-child(8) .close{
  background-color: $main-color;
}

.menu li:nth-child(9),
.menu li:nth-child(9) .content,
.menu li:nth-child(9) .close{
  background-color: $main-color;
}  

.menu li:nth-child(10),
.menu li:nth-child(10) .content,
.menu li:nth-child(10) .close{
  background-color: $main-color;
}

.menu li:nth-child(11),
.menu li:nth-child(11) .content,
.menu li:nth-child(11) .close{
  background-color: $main-color;
} 

/* -------------------------------- */

.menu .content{
  opacity: 0; display: none\9;
  overflow: hidden;
  font: 12px Arial, Helvetica;
  position: absolute;
  height: 120px; width: 200px; /* Ideally: height: 100%; width: 100%; but works at it should just in FF */
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out; 
  -o-transition: all .3s ease-out;  
  transition: all .3s ease-out;      
}  

.menu .expanded{
  opacity: 1; display: block\9;
  overflow: visible;
  padding: 40px;
  height: 300px; width:100%; /* Cover the entire area */
}

/* -------------------------------- */    

.menu .title{
  position: absolute;
  height: 100%; width: 100%;
  text-align: center;
  font: italic bold 1em/120px 'trebuchet MS', Arial, helvetica;
  opacity: 0;
  -moz-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.menu li:hover .title{
  opacity: .85;
}    

/* -------------------------------- */

.menu .close {
  display: none;
  border: 2px solid #fff;
  color: #fff;
  cursor: pointer;
  height: 40px; width: 40px;
  font: bold 20px/40px arial, helvetica;
  position: absolute;
  text-align: center;
  top: -20px; right: -20px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
    opacity: 1;
}

.menu .cover .close{
  display: block;
}




/*************************************/




body {
  width: 100%;
	margin: 0;
	float: left;
}

#top_nav {
	width: 100%;
	margin-bottom: 20px;
	background: #000;
	float: left;
}

#top_nav ul {
	width: 100%;
	margin: 0;
	padding: 0;
	float: left;
}

#top_nav li {
	width: 12.5%;
	list-style: none;
	float: left;
}

#top_nav li a {
	display: block;
	width: 100%;
	height: 45px;
	color: #dad7d7;
	font-family: 'Esteban', serif;
	line-height: 45px;
	text-align: center;
	text-decoration: none;
}

#top_nav li a:hover {
	color: #fff;
	background: #333;
}

#panel {
	width: 75%;
	margin: 0 auto;
}

.menu {
	width: 98%;
	height: 98%;
	margin: 0 auto;
	padding: 1%;
	position: relative;
	float: left;
}

.menu li {
	width: 32.5%;
	height: 250px;
	position: static;
}

.menu li img {
	display: block;
	width: 28%;
	margin: 85px auto 0;
	-moz-transition: margin 0.5s;
	-webkit-transition: margin 0.5s;
	transition: margin 0.5s;
}

.menu li:hover img {
	margin: 63px auto 0;
}

.menu li .title {
	display: block;
	width: 100%;
	height: auto;
	font-family: 'Esteban', serif;
	font-size: 25px;
	font-style: normal;
	font-weight: normal;
	line-height: 60px;
	position: static;
}

.menu li .content {
	width: 0px;
	height: 0px;
  position: absolute;
  top: 0;
  left: 0; 
}

.menu li .content.expanded {
	width: 94%;
	height: 93.75%;
	margin: 1%;
	padding: 2%;
	position: absolute;
	top: 0;
	left: 0;
    border: #9E9E9E solid 1px;
}


li.active{
    height: 100%;
    width:100%;
    
}

ul{
    padding: 0px;
}
.panel {
    margin-bottom: 0px;
}






body {
    font-family: 'CoconRNext-Arabic';
    background-color: #F7F7F7;
    margin: 0;
    padding: 0; }

.card-header {
    background-color: #0C4996;
    color: #ffffff;
    width: 100%;
    height: 75px;
    border-radius: 2px;
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    padding-right: 25px;
    padding-left: 25px; }
.card-header h1 {
    vertical-align: middle;
    line-height: 75px;
    margin: 0;
    display: inline-block;
    font-size: 28px; }
.card-header a {
    color: #ffffff;
    text-decoration: none; }
.card-header a .fa {
    float: right;
    font-size: 35px;
    line-height: 75px;
    cursor: pointer; }

.row {
    margin: 0; }
// 	.row{
//		    margin-top:40px;
//		    padding: 0 10px;
//		}
.clickable{
    cursor: pointer;   
}

.panel-heading div {
    //			margin-top: -18px;
    padding: 0;
    font-size: 15px;
}
.panel-heading div span{
    margin-left:5px;
}
.panel-body{
    display: none;
}

nav {
    z-index: 9;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    text-align: center; }

.text-color {
    color: #46a1de;
    transition-duration: .5s; }

footer {
    padding: 40px 0;
    text-align: center;
    opacity: .33;
    color: white; }

.wrapper {
    min-width: 600px;
    max-width: 900px;
    margin: 0 auto; }

.tabs {
    display: table;
    padding-right: 0;
    table-layout: fixed;
    width: 100%;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    background-color: #0C4996;
    border-radius: 6px;
    margin-bottom: 0;
    margin-top: 25px;}
.tabs > li {
    transition-duration: .25s;
    display: table-cell;
    list-style: none;
    text-align: center;
    padding: 20px 20px 25px 20px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    color: #ffffff;
    font-size: 17px; }
.tabs > li:before {
    z-index: -1;
    position: absolute;
    content: "";
    width: 100%;
    height: 120%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.3);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    transition-duration: .25s;
    border-radius: 5px 5px 0 0; }
.tabs > li:hover:before {
    -webkit-transform: translateY(70%);
    transform: translateY(70%); }
.tabs > li.active {
    color: #26abef;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
.tabs > li.active:before {
    transition-duration: .5s;
    background-color: white;
    -webkit-transform: translateY(0);
    transform: translateY(0); }

.tab__content {
    //  background-color: white;
    position: relative;
    width: 100%;
    border-radius: 5px;
    height: 100%; }
.tab__content > li {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    list-style: none; }
.tab__content > li .content__wrapper {
    text-align: center;
    border-radius: 5px;
    width: 100%;
    padding: 45px 40px 40px 40px;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

.panel {
    border: none; }
.panel > .panel-body + .table {
    border-top: none; }
.panel .panel-body {
    display: none; }
.panel .panel-heading {
    background-color: #ffffff;
    border: 1px solid rgba(128, 128, 128, 0.35);
    color: rgba(128, 128, 128, 0.7);
    .panel-title{
        display: inline-block;
        padding: 0;

    }
}
.panel .panel-heading .pull-right i {
    font-size: 18px; }

.panel tbody tr td {
    vertical-align: middle;
    color:#0000}
.panel tbody tr td h3 {
    font-size: 25px; }
.panel tbody tr td h5 {
    font-size: 20px; }
.panel tbody tr td p img {
    width: 170px; }
.panel tbody tr td p i {
    margin-left: 10px; }
.panel tbody tr td a{
    &:hover{
        color:$third-color;
        text-decoration: none;
    }
}
.content__wrapper h2 {
    width: 100%;
    text-align: center;
    padding-bottom: 2px;
    font-weight: 300; }
.content__wrapper img {
    width: 100%;
    height: auto;
    border-radius: 5px; }

.table > thead > tr > th {
    text-align: right;}

.stars{
    padding-right: 0px;
    padding-left: 0px;
}




tr{
    color: black;
}
/*# sourceMappingURL=culture.css.map */
