.lt-216 div.aw-widget-current-inner div.aw-widget-content a.aw-current-weather h3 {
    width: auto!important;
    margin: 0 0px!important;
    font-size: 15px!important;
    padding-top: 15px!important;
    text-align: right;
    color: black;
}
.lt-479 div.aw-widget-current-inner div.aw-widget-content a.aw-current-weather p {
    position: relative!important;
    width: 90%!important;
    padding-left: 50%!important;
    z-index: 11!important;
    padding-top: 10% !important;
    color: black;
}


.lt-216 div.aw-widget-current-inner div.aw-widget-content a.aw-current-weather span.aw-icon {
    height: 60px!important;
    background-size: 100px auto!important;
    width: 100%!important;
    margin-bottom: -95px!important;
    top: auto!important;
    left: auto!important;
    background-position: center center!important;
    position: static!important;
}




.lt-216 div.aw-widget-current-inner div.aw-widget-content a.aw-current-weather span.aw-icon {
    height: 100px!important;
    background-size: 170px auto!important;
    width: 65%!important;
     margin-top: auto!important; 
    /* position: static!important; */
}

.aw-current-weather-inner {
    top: -17px;
}


div.aw-widget-current-inner div.aw-widget-content {
    color: #000!important;
  border: 0px solid #fff!important; 
}



div.aw-widget-current-inner div.aw-widget-content {
    /* color: #000!important; */
    border: 0px solid #e9e9e9!important;
    height: 0px;
}



div.aw-widget-current-inner a.aw-toggle {
    display: none;
    -webkit-border-radius: 0 0 4px 4px!important;
    -moz-border-radius: 0 0 4px 4px!important;
    border-radius: 0 0 4px 4px!important;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.15)!important;
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,.15)!important;
    box-shadow: 0 1px 1px rgba(0,0,0,.15)!important;
    position: absolute!important;
    z-index: 10!important;
    /* width: 26px!important; */
    height: 16px!important;
    background: #e9e9e9!important;
    bottom: 0!important;
    right: 10px!important;
    border: 1px solid #dcdcdc!important;
}

@media screen and (max-width: 1200px) {
div.aw-widget-current-inner div.aw-widget-content a.aw-current-weather p {
    float: left!important;
    width: 30%!important;
    color: black !important;
}
    
    }



