@font-face {
    font-family: 'CoconRNext-Arabic';
    src: url('../fonts/CoconRNext-Arabic-Light.otf');

}
// BACKGROUND COLOR
$bg-color: #F7F7F7;
// TEXT COLOR
$text-color: #fff;
$main-color:#0C4996;
$secondary-color:#26abef;
$third-color:#ffcf33;
body{
    font-family: 'CoconRNext-Arabic';
    background-color: $bg-color;
}

.card-header{
    background-color: $main-color;
    color: #ffffff;
    width: 100%;
    height: 75px;
    border-radius: 2px;
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    padding-right: 25px;
    padding-left: 25px;
    h1{
        vertical-align: middle;
        line-height: 75px;
        margin: 0;
        display: inline-block;

    }
    a {
        color: #ffffff;
        text-decoration: none;
        &:hover{
            color:#ffffff;
        }
        .fa{
            float: right;
            font-size: 35px;
            line-height: 75px;
            cursor: pointer;
        }
    }   
}
.row{
    margin-top:40px;
    padding: 0 10px;
    .table{
        tbody{
            td{
                border: none;
                .panel{
                    box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
                    .panel-heading {
                        background-color:#0C4996;
                        div span{
                            margin-left:5px;
                        }
                    }
                }

            }
        }
    }
}
