/*-------------------------------*/
/*           Font           */
/*-------------------------------*/
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);
@font-face {
  font-family: 'CoconRNext-Arabic';
  src: url("../fonts/CoconRNext-Arabic-Light.otf"); }
@font-face {
  font-family: myfont;
  src: url("../fonts/CoconRNext-Arabic-Light.otf"); }
/*-------------------------------*/
/*           VARIABLES           */
/*-------------------------------*/
body {
  position: relative;
  overflow-x: hidden;
  font-family: 'CoconRNext-Arabic'; }

body,
html {
  height: 100%;
  background-color: #F7F7F7; }

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/
.page-header1 .card-header {
  background-color: #0C4996;
  color: #ffffff;
  width: 100%;
  height: 75px;
  border-radius: 2px;
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  padding-right: 25px;
  padding-left: 25px;
  margin-bottom: 50px; }
  .page-header1 .card-header h1 {
    vertical-align: middle;
    line-height: 75px;
    margin: 0;
    display: inline-block;
    font-size: 28px;
    font-family: myfont; }
  .page-header1 .card-header a .fa {
    float: right;
    font-size: 35px;
    line-height: 75px;
    cursor: pointer;
    color: #fff; }

#wrapper {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  padding-left: 0;
  transition: all 0.5s ease; }

#wrapper.toggled {
  padding-right: 455px; }
  #wrapper.toggled #sidebar-wrapper {
    width: 220px;
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); }
  #wrapper.toggled #page-content-wrapper {
    margin-right: -220px;
    position: absolute; }

#sidebar-wrapper {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  background: #0C4996;
  height: 100%;
  left: 220px;
  margin-left: -220px;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all 0.5s ease;
  width: 0;
  z-index: 1000; }
  #sidebar-wrapper::-webkit-scrollbar {
    display: none; }

#page-content-wrapper {
  width: 100%; }

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/
.sidebar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 220px; }
  .sidebar-nav li {
    display: inline-block;
    line-height: 20px;
    position: relative;
    width: 100%; }
    .sidebar-nav li:before {
      content: '';
      height: 100%;
      right: 0;
      position: absolute;
      top: 0;
      transition: width .2s ease-in;
      width: 3px;
      z-index: -1; }
    .sidebar-nav li:nth-child(n):before {
      background-color: #26abef; }
    .sidebar-nav li:hover:before {
      transition: width .2s ease-in;
      width: 100%; }
    .sidebar-nav li a {
      color: #BEC6D3;
      display: block;
      padding: 10px 15px 10px 30px;
      text-decoration: none; }
      .sidebar-nav li a:hover {
        color: #ffffff; }
    .sidebar-nav li .fa {
      font-size: 20px;
      float: right;
      margin-left: 30px;
      line-height: 30px;
      width: 30px;
      text-align: center; }
    .sidebar-nav li p {
      margin: 0;
      line-height: 30px;
      font-size: 16px; }
  .sidebar-nav li.open:hover before {
    transition: width .2s ease-in;
    width: 100%; }
  .sidebar-nav .dropdown-menu {
    background-color: #0C4996;
    border-radius: 0;
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%; }
    .sidebar-nav .dropdown-menu p {
      font-size: 15px; }
    .sidebar-nav .dropdown-menu li:hover a {
      color: #ffffff; }

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active {
  background-color: transparent;
  text-decoration: none; }

.sidebar-nav li.open a:focus {
  background-color: transparent;
  text-decoration: none; }

.sidebar-nav > .sidebar-brand {
  font-size: 20px;
  height: 65px;
  line-height: 44px;
  background-color: #26abef; }
  .sidebar-nav > .sidebar-brand a {
    color: #ffffff; }

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/
.hamburger {
  background: transparent;
  border: none;
  display: block;
  height: 32px;
  margin-right: 15px;
  position: fixed;
  top: 20px;
  width: 32px;
  z-index: 999; }
  .hamburger:hover {
    outline: none; }
  .hamburger:focus {
    outline: none; }
  .hamburger:active {
    outline: none; }

.hamburger.is-closed:before {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all .35s ease-in-out;
  color: #ffffff;
  content: '';
  display: block;
  font-size: 14px;
  line-height: 32px;
  opacity: 0;
  text-align: center;
  width: 100px; }
.hamburger.is-closed:hover before {
  -webkit-transform: translate3d(-100px, 0, 0);
  -webkit-transition: all .35s ease-in-out;
  display: block;
  opacity: 1; }
.hamburger.is-closed:hover .hamb-top {
  -webkit-transition: all .35s ease-in-out;
  top: 0; }
.hamburger.is-closed:hover .hamb-bottom {
  -webkit-transition: all .35s ease-in-out;
  bottom: 0; }
.hamburger.is-closed .hamb-top {
  -webkit-transition: all .35s ease-in-out;
  background-color: #0C4996;
  top: 5px; }
.hamburger.is-closed .hamb-middle {
  background-color: #0C4996;
  margin-top: -2px;
  top: 50%; }
.hamburger.is-closed .hamb-bottom {
  -webkit-transition: all .35s ease-in-out;
  background-color: #0C4996;
  bottom: 5px; }

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  height: 4px;
  left: 0;
  position: absolute;
  width: 100%; }

.hamburger.is-open .hamb-top {
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
  background-color: #0C4996;
  margin-top: -2px;
  top: 50%; }
.hamburger.is-open .hamb-middle {
  background-color: #0C4996;
  display: none; }
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
  background-color: #0C4996;
  margin-top: -2px;
  top: 50%; }
.hamburger.is-open:before {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all .35s ease-in-out;
  color: #ffffff;
  content: '';
  display: block;
  font-size: 14px;
  line-height: 32px;
  opacity: 0;
  text-align: center;
  width: 100px; }
.hamburger.is-open:hover before {
  -webkit-transform: translate3d(-100px, 0, 0);
  -webkit-transition: all .35s ease-in-out;
  display: block;
  opacity: 1; }

/*-------------------------------*/
/*       jumbotron        */
/*-------------------------------*/
.caret {
  margin-right: 48px; }

.jumbotron {
  background-image: url(../img/alex2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
  padding: 0px;
  background-position: center;
  margin-bottom: 0; }
  .jumbotron img {
    width: 8%;
    float: left;
    margin-left: 54px; }
    @media (max-width: 767px) {
      .jumbotron img {
        width: 11%; } }
  .jumbotron img:after {
    content: '';
    display: block;
    clear: both; }

/*-------------------------------*/
/*       page-content-wrapper-card       */
/*-------------------------------*/
#page-content-wrapper .container .row .card {
  display: inline-block;
  position: relative;
  width: 100%;
  color: rgba(0, 0, 0, 0.87);
  background: #ffffff;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: all .3s ease; }
  #page-content-wrapper .container .row .card .card-header {
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    margin: -20px 15px 0;
    border-radius: 3px;
    padding: 15px;
    background-color: #0C4996;
    height: 72px; }
    #page-content-wrapper .container .row .card .card-header .nav-tabs {
      background: #0C4996;
      border: 0;
      border-radius: 3px;
      padding: 0 15px;
      overflow-x: none; }
      #page-content-wrapper .container .row .card .card-header .nav-tabs a {
        color: #FFFFFF;
        border: 0;
        margin: 0;
        border-radius: 3px;
        line-height: 24px;
        font-size: 16px;
        text-decoration: none; }
  #page-content-wrapper .container .row .card .card-content {
    padding: 15px 20px; }
    #page-content-wrapper .container .row .card .card-content .table th {
      text-align: right;
      color: #0C4996; }
    #page-content-wrapper .container .row .card .card-content a {
      text-decoration: none;
      transition: color .3s ease; }
      #page-content-wrapper .container .row .card .card-content a:hover {
        color: #ffcf33; }
    #page-content-wrapper .container .row .card .card-content .see-more {
      float: left;
      color: #26abef; }
  #page-content-wrapper .container .row .card .card-nav-tabs {
    float: left;
    padding: 10px 10px 10px 0;
    line-height: 24px; }
    #page-content-wrapper .container .row .card .card-nav-tabs .nav-tabs {
      background: transparent;
      padding: 0;
      margin-top: -30px; }

.card:hover,
.bank-card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transform: translate(0, -4px); }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  background-color: rgba(255, 255, 255, 0.2);
  transition: background-color .1s .2s; }

.nav-tabs > li > a .fa {
  margin: 0px 5px 0 7px;
  vertical-align: middle; }

.nav-tabs > li > a, .nav-tabs > li > a:hover {
  background-color: transparent;
  font-weight: 500; }

/*-------------------------------*/
/*      clock      */
/*-------------------------------*/
.time {
  color: #ddd;
  text-shadow: 0 1px 5px black;
  font-size: 20px;
  float: left;
  text-align: left; }

.time:after {
  content: '';
  clear: both;
  display: block; }

.hour {
  font-size: 80px; }

.date {
  font-size: 25px; }

/*-------------------------------*/
/*       Weather and news      */
/*-------------------------------*/
.content {
  margin-bottom: 70px;
  margin-top: 35px; }
  .content .news, .content .weather {
    color: #ffcf33; }

.card-row1 {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  min-height: 230px;
  position: relative;
  width: 100%; }
  .card-row1 .icon-row1 {
    background: #0C4996;
    border-radius: 2px;
    display: inline-block;
    height: 230px;
    width: 40px;
    position: absolute;
    line-height: 149px;
    right: -15px;
    z-index: 1;
    margin: 0px 15px 0;
    padding: 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .card-row1 .card-block {
    margin-right: 60px;
    margin-bottom: 10px;
    font-family: myfont; }
    .card-row1 .card-block .card-header {
      font-size: 25px;
      color: #ffcf33; }
  .card-row1 a {
    font-size: 14px;
    float: left;
    padding-left: 30px;
    margin-top: -15px;
    color: #26abef; }
    .card-row1 a:hover {
      color: #ffcf33;
      transition: color .3s ease;
      text-decoration: none; }

/*-------------------------------*/
/*       fuel currency gold   */
/*-------------------------------*/
.card-row2 {
  background: #fff;
  border-radius: 3px;
  display: inline-block;
  max-height: 230px;
  position: relative;
  width: 100%; }
  .card-row2 .icon-row2 {
    background: #0C4996;
    width: 75px;
    height: 75px;
    border-radius: 2px;
    display: inline-block;
    position: absolute;
    left: 10px;
    z-index: 1;
    margin: -20px 15px 0;
    padding: 15px;
    text-align: center;
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); }
    .card-row2 .icon-row2 .ic {
      width: 50px; }
  .card-row2 .card-block {
    font-family: myfont;
    margin-right: 30px; }
    .card-row2 .card-block .card-tile {
      font-size: 25px;
      color: #ffcf33; }
    .card-row2 .card-block .card-content {
      font-family: 'Lato', sans-serif;
      margin: 18px;
      font-size: 40px;
      text-align: center; }
      .card-row2 .card-block .card-content sup {
        font-size: 25px;
        top: -1.25em; }
      .card-row2 .card-block .card-content small {
        font-size: 22px;
        color: #aeb0b5; }
      .card-row2 .card-block .card-content .category {
        font-size: 18px;
        text-align: right;
        padding-right: 35px; }
    .card-row2 .card-block a {
      font-size: 14px;
      float: left;
      padding-left: 30px;
      padding-bottom: 30px;
      color: #26abef; }
      .card-row2 .card-block a:hover {
        color: #ffcf33;
        transition: color .3s ease;
        text-decoration: none; }

/*-------------------------------*/
/*       Prices-card       */
/*-------------------------------*/
.prices-card .card-header h2 {
  color: white;
  margin: 0; }
.prices-card .card-content {
  text-align: center; }
  .prices-card .card-content .row {
    margin: auto;
    margin-top: 17px;
    margin-bottom: 17px; }
  .prices-card .card-content .see-more-prices {
    margin-bottom: 15px;
    color: #26abef; }
.prices-card .food-cards {
  width: 130px;
  min-height: 130px;
  background-color: #ffffff;
  margin: 15px;
  box-sizing: border-box;
  float: none;
  display: inline-block;
  text-align: left;
  position: relative; }
  .prices-card .food-cards .flip {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-radius: 6px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
    cursor: pointer; }
    .prices-card .food-cards .flip div {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      border-radius: 6px;
      background: #ffffff;
      display: -webkit-box;
      display: -ms-flexbox;
      display: box;
      display: flex;
      -webkit-box-pack: center;
      -o-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -o-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-font-smoothing: antialiased;
      color: #47525d; }
    .prices-card .food-cards .flip .back {
      background-color: #0C4996;
      color: white;
      -webkit-transform: rotateY(180deg);
      transform: rotateY(180deg);
      text-align: center; }
      .prices-card .food-cards .flip .back span {
        display: block;
        width: 6em; }
    .prices-card .food-cards .flip img {
      width: 53px; }

.flip.flipped {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg); }

/*-------------------------------*/
/*       Bank-card       */
/*-------------------------------*/
@media (max-width: 992px) {
  .margin-div .row {
    margin: auto; } }

.bank-card.second {
  margin-top: 45px; }

.bank-card,
.enter-card {
  max-width: 600px;
  margin: 0;
  border-radius: 2px;
  color: black;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: all .3s ease;
  padding: 0 10px;
  background-color: #ffffff; }
  @media (min-width: 768px) {
    .bank-card,
    .enter-card {
      width: 100%;
      margin: auto;
      margin-bottom: 70px; } }
  .bank-card .bank-title,
  .enter-card .bank-title {
    text-align: center; }
    .bank-card .bank-title i,
    .enter-card .bank-title i {
      font-size: 2em;
      line-height: 60px;
      border-radius: 50%;
      background-color: #0C4996;
      height: 60px;
      width: 60px;
      color: #ffffff;
      margin-top: -1em;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
  .bank-card .info h3,
  .enter-card .info h3 {
    margin: 0;
    font-size: 22px;
    padding: 11px 0;
    color: #0C4996;
    text-align: center; }
  .bank-card .info .bank-title,
  .enter-card .info .bank-title {
    text-align: right;
    margin: 0;
    color: #0C4996; }
  .bank-card .footer,
  .enter-card .footer {
    border-top: 1px solid #0C4996;
    padding: 15px;
    text-align: right;
    text-transform: uppercase;
    position: relative; }
    .bank-card .footer a,
    .enter-card .footer a {
      transition: color .3s ease;
      color: #26abef;
      margin: 0 5px;
      text-decoration: none; }
    .bank-card .footer .see-more,
    .enter-card .footer .see-more {
      float: left; }

.footer a:hover,
.footer a:active {
  color: #ffcf33;
  text-decoration: none; }

/*-------------------------------*/
/*      gov services & hospitals       */
/*-------------------------------*/
.content-hotels {
  margin-top: 27px;
  margin-bottom: 20px; }

.card-row3 {
  font-family: myfont;
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: auto;
  position: relative;
  width: 100%; }
  .card-row3 .icon-row3 card-header {
    background-color: #0C4996;
    border-radius: 3px;
    display: inline-block;
    height: 7px;
    width: 515px;
    position: absolute;
    line-height: 149px;
    right: 5px;
    z-index: 1;
    margin: -20px 25px 0;
    padding: 15px;
    box-sizing: border-box;
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); }
    .card-row3 .icon-row3 card-header .card-title {
      color: #fff;
      font-family: myfont;
      line-height: 50px;
      margin: 0px;
      font-size: 24px; }
  .card-row3 .card-content {
    padding-right: 10px;
    padding-left: 10px; }
    .card-row3 .card-content th {
      text-align: right; }
    .card-row3 .card-content .firstchild-td {
      float: left;
      padding-left: 20px; }
    .card-row3 .card-content .see-more {
      float: left; }
  .card-row3 .card-nav-tabs {
    margin-top: 70px;
    padding: 10px 10px 0px 0;
    line-height: 24px; }
    .card-row3 .card-nav-tabs .nav-tabs {
      background: transparent;
      padding: 0;
      margin-top: -30px; }
  .card-row3 .card-header {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin: -20px 15px 0;
    border-radius: 2px;
    padding: 15px;
    background-color: #0C4996;
    height: 72px; }
    .card-row3 .card-header .card-title {
      color: #fff;
      font-family: myfont;
      line-height: 50px;
      margin: 0px; }
    .card-row3 .card-header .nav-tabs {
      background: #0C4996;
      border: 0;
      border-radius: 3px;
      padding: 0 15px;
      overflow-x: none; }
      .card-row3 .card-header .nav-tabs a {
        color: #FFFFFF;
        border: 0;
        margin: 0;
        border-radius: 3px;
        line-height: 24px;
        font-size: 16px;
        text-decoration: none; }
  .card-row3 .card-content-right {
    box-sizing: border-box; }
    .card-row3 .card-content-right .table th {
      text-align: right;
      color: #0C4996; }
  .card-row3 td a {
    color: black;
    float: none; }
  .card-row3 .nav-tabs > li.active > a, .card-row3 .nav-tabs > li.active > a:hover, .card-row3 .nav-tabs > li.active > a:focus {
    background-color: rgba(255, 255, 255, 0.2);
    transition: background-color .1s .2s; }
  .card-row3 .nav-tabs > li > a .fa {
    margin: 0px 5px 0 7px;
    vertical-align: middle; }
  .card-row3 .nav-tabs > li > a, .card-row3 .nav-tabs > li > a:hover {
    background-color: transparent;
    font-weight: 500; }
  .card-row3 .table > tbody > tr > td {
    padding: 6px;
    font-size: 15px;
    line-height: 1.42857143;
    vertical-align: top; }
    .card-row3 .table > tbody > tr > td .see-more {
      float: left; }
  .card-row3 .firstchild-td {
    margin-bottom: 15px;
    border-top: 0px solid;
    color: #26abef; }

/*-------------------------------*/
/*       second-row       */
/*-------------------------------*/
#Consulates .table tbody td img {
  width: 30%; }
#Consulates .see-more {
  margin-top: 14px; }

/*-------------------------------*/
/*       entertain-div-wrap       */
/*-------------------------------*/
.collapse-custom .navbar {
  margin-bottom: 0;
  border-radius: 0;
  cursor: pointer; }
  .collapse-custom .navbar li ul {
    list-style-type: none;
    padding-left: 15px; }
.collapse-custom .navbar:last-of-type {
  border-bottom: 1px solid #e7e7e7; }
.collapse-custom .navbar-heading {
  background-color: #0C4996;
  cursor: default;
  font-weight: bold;
  font-size: 16px; }
  .collapse-custom .navbar-heading li {
    padding: 10px 0 10px 0; }
  .collapse-custom .navbar-heading li a {
    color: #fff;
    text-decoration: none; }
    .collapse-custom .navbar-heading li a:hover {
      color: #ffcf33; }
.collapse-custom .navbar-nav .one {
  min-width: 120px; }
.collapse-custom .navbar-nav li a {
  text-decoration: none; }
  .collapse-custom .navbar-nav li a:hover {
    color: #ffcf33; }
.collapse-custom .collapse {
  background-color: #fff; }
.collapse-custom .collapse-open {
  background-color: #f5f5f5; }

.row-4 {
  margin-top: 35px;
  margin-bottom: 70px;
  font-family: myfont; }
  .row-4 p {
    font-size: 16px; }
  .row-4 .btn {
    border-radius: 2px;
    padding: 8px 12px;
    background-color: #0C4996;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease; }
  .row-4 .card {
    margin: 0px;
    background: #FFFFFF;
    height: auto;
    box-sizing: border-box;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.7s cubic-bezier(0.25, 0.8, 0.25, 1); }
    .row-4 .card .slides {
      position: relative;
      overflow: hidden;
      -webkit-transition: 0.5s ease;
      transition: 0.5s ease; }
    .row-4 .card .slide {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: 0.5s ease;
      transition: 0.5s ease; }
    .row-4 .card .slide.active {
      opacity: 1;
      visibility: visible; }
    .row-4 .card .thumbnail {
      margin: 60px 20px 0px 20px; }
    .row-4 .card .title {
      position: relative;
      margin: -31px 25px 15px;
      color: #0C4996;
      font-size: 24px;
      background-color: rgba(0, 0, 0, 0.55);
      -webkit-transition: 0.5s ease;
      transition: 0.5s ease; }
    .row-4 .card .card-title {
      text-align: center;
      font-size: 24px;
      margin-top: 0px;
      position: relative;
      z-index: 1; }
  .row-4 .card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transform: translate(0, -4px); }
  .row-4 .icon-row4 {
    background: #0C4996;
    width: 320px;
    height: 60px;
    display: inline-block;
    position: absolute;
    left: 4px;
    top: -20px;
    margin: -20px 15px 0;
    padding: 15px;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .row-4 .card-content {
    margin-top: 25px;
    padding: 10px 10px; }
    .row-4 .card-content th {
      text-align: right;
      color: #26abef; }
    .row-4 .card-content tr firstchild {
      border-top: none; }
    .row-4 .card-content .see-more {
      float: left; }
  .row-4 .footer {
    color: black;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0px  20px 15px; }
    .row-4 .footer #next #prev {
      color: #0000; }
    .row-4 .footer [ripple] {
      z-index: 1;
      position: relative;
      overflow: hidden; }
    .row-4 .footer [ripple] .ripple {
      position: absolute;
      background: #000;
      width: 60px;
      height: 60px;
      border-radius: 100%;
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
      -webkit-animation: ripple 2s;
      animation: ripple 2s; }
@-webkit-keyframes ripple {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0.2; }
  100% {
    -webkit-transform: scale(20);
    transform: scale(20);
    opacity: 0; } }
@keyframes ripple {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0.2; }
  100% {
    -webkit-transform: scale(20);
    transform: scale(20);
    opacity: 0; } }
  .row-4 .tab-content > .active {
    display: block;
    text-align: right; }
  .row-4 .firstchild-td {
    float: left;
    padding-left: 20px;
    margin-bottom: 15px;
    color: #26abef; }
  .row-4 .card-nav-tabs {
    position: relative;
    padding: 10px 10px 10px 0;
    line-height: 24px; }
    .row-4 .card-nav-tabs .nav-tabs {
      background: transparent;
      padding: 0; }
  .row-4 .card-header {
    background: #0C4996;
    width: 95%;
    height: 60px;
    display: inline-block;
    margin: -5px 0px 0;
    padding: 15px;
    text-align: center;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
    .row-4 .card-header .nav-tabs {
      border: 0;
      border-radius: 3px;
      padding: 29px 15px;
      overflow-x: none; }
      .row-4 .card-header .nav-tabs a {
        color: #FFFFFF;
        border: 0;
        margin: 0;
        border-radius: 3px;
        line-height: 24px;
        font-size: 16px;
        text-decoration: none; }
  .row-4 .card-content-right {
    padding: 20px 20px; }
    .row-4 .card-content-right .table th {
      text-align: right; }
  .row-4 .nav-tabs > li.active > a, .row-4 .nav-tabs > li.active > a:hover, .row-4 .nav-tabs > li.active > a:focus {
    background-color: rgba(255, 255, 255, 0.2);
    transition: background-color .1s .2s; }
  .row-4 .nav-tabs > li > a .fa {
    margin: 0px 5px 0 7px;
    vertical-align: middle; }
  .row-4 .nav-tabs > li > a, .row-4 .nav-tabs > li > a:hover {
    background-color: transparent;
    font-weight: 500; }
  .row-4 .table > tbody > tr > td {
    padding: 6px;
    font-size: 15px;
    line-height: 1.42857143;
    vertical-align: top; }
    .row-4 .table > tbody > tr > td .see-more {
      float: left; }
  .row-4 .col-sm-12 {
    margin-top: 70px; }

#rounded-ic {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border-radius: 50%; }

.card-profile .card-header {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: -20px 15px 0;
  border-radius: 2px;
  padding: 15px;
  background-color: #0C4996;
  height: 72px;
  width: 91%; }
  .card-profile .card-header .img {
    width: 52%; }
.card-profile .content {
  padding: 0px 15px; }
  .card-profile .content h3 {
    font-size: 26px;
    margin: 0px; }
  .card-profile .content .card-title {
    text-align: center;
    font-size: 22px;
    color: #9E9E9E;
    margin-top: 0px;
    position: relative;
    z-index: 1; }
.card-profile .tab-content > .active {
  text-align: -webkit-auto; }

.card-row5 {
  margin: 25px 0;
  font-family: myfont;
  background: #fff;
  border-radius: 2px;
  display: block;
  min-height: 450px;
  position: relative;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.7s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .card-row5 .card-header {
    position: absolute;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin: -20px 15px 0;
    border-radius: 2px;
    padding: 15px;
    background-color: #0C4996;
    height: 72px;
    width: 97%; }
    .card-row5 .card-header .card-title {
      color: #fff;
      font-family: myfont;
      line-height: 50px;
      margin: 0px;
      font-size: 27px; }
  .card-row5 .carousel-inner {
    text-align: center;
    position: relative;
    width: 100%;
    /* overflow: hidden; */ }
    .card-row5 .carousel-inner .see-more {
      color: #26abef;
      margin-top: 15px; }
      .card-row5 .carousel-inner .see-more:hover {
        color: #ffcf33;
        transition: color .3s ease;
        text-decoration: none; }
    .card-row5 .carousel-inner .row {
      padding-top: 65px;
      padding-bottom: 20px; }
  .card-row5 .col-md-9 h3 {
    font-family: myfont;
    text-align: center; }
  .card-row5 .col-item {
    font-family: myfont;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.7s cubic-bezier(0.25, 0.8, 0.25, 1); }
    .card-row5 .col-item .photo {
      position: relative;
      top: -25px;
      width: 85%;
      right: 20px; }
    .card-row5 .col-item .photo img {
      margin: 0 auto;
      width: 100%; }
    .card-row5 .col-item .info {
      padding: 10px;
      border-radius: 0 0 5px 5px;
      margin-top: 1px;
      text-align: center; }
      .card-row5 .col-item .info .product-old h5 {
        font-size: 22px;
        font-family: myfont; }
      .card-row5 .col-item .info .price {
        /*width: 50%;*/
        float: left;
        margin-top: 5px; }
      .card-row5 .col-item .info .col-item .price h5 {
        line-height: 20px;
        margin: 0; }
    .card-row5 .col-item .price-text-color {
      color: #219FD1;
      font-size: 18px; }
  .card-row5 .col-item:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transform: translate(0, -4px); }
  .card-row5 .col-item .info .rating {
    color: #777; }
  .card-row5 .col-item .rating {
    /*width: 50%;*/
    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px; }
  .card-row5 .col-item .separator {
    border-top: 0px solid #E1E1E1; }
  .card-row5 .col-item .separator p {
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center; }
  .card-row5 .col-item .separator p i {
    margin-right: 5px; }
  .card-row5 .col-item .btn-add {
    width: 50%;
    float: left; }
  .card-row5 .col-item .btn-add {
    border-right: 1px solid #E1E1E1; }
  .card-row5 .col-item .btn-details {
    width: 50%;
    float: left;
    padding-left: 10px; }
  .card-row5 .controls {
    margin-top: 20px; }
  .card-row5 [data-slide="prev"] {
    margin-right: 10px; }
  .card-row5 .phone {
    font-size: 16px; }
  .card-row5 .btn-success {
    color: #fff;
    background-color: #0C4996;
    border-color: #0C4996; }
  .card-row5 .col-sm-3 {
    margin-top: 50px;
    text-align: left;
    float: none;
    display: inline-block; }

.fa-chevron-left {
  top: 275px;
  left: 45px;
  display: inline-block;
  position: absolute; }

.fa-chevron-right {
  top: 275px;
  right: 45px;
  display: inline-block;
  position: absolute; }

.entertain-div-wrap {
  width: 100%;
  margin: auto;
  border-radius: 2px;
  background: white;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.7s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .entertain-div-wrap .carousel-inner {
    overflow: visible; }
  .entertain-div-wrap header h1 {
    background: white;
    color: #555;
    margin: 0;
    padding: 1rem;
    border-radius: 2px 2px 0 0;
    box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 8; }
  .entertain-div-wrap nav {
    width: 100%;
    background-color: #0C4996; }
    @media (min-width: 769px) {
      .entertain-div-wrap nav {
        width: 96px;
        height: calc(82% - 6rem);
        border-radius: 0 0 2px 0; } }
    .entertain-div-wrap nav a {
      color: #ffffff;
      margin-right: 10px; }
      .entertain-div-wrap nav a:hover {
        text-decoration: none; }
    .entertain-div-wrap nav ul {
      display: flex;
      padding: 0; }
      @media (min-width: 769px) {
        .entertain-div-wrap nav ul {
          display: block; } }
    .entertain-div-wrap nav li {
      line-height: 3;
      padding: 0 1rem;
      cursor: pointer;
      color: #ffffff;
      box-sizing: border-box;
      list-style-type: none; }
      @media (min-width: 769px) {
        .entertain-div-wrap nav li {
          border-bottom: 1px solid #f0f0f0; } }
      .entertain-div-wrap nav li.hover {
        background: rgba(255, 255, 255, 0.2); }
      .entertain-div-wrap nav li.pressed {
        background: rgba(255, 255, 255, 0.7); }
      .entertain-div-wrap nav li.currentPage {
        background: rgba(255, 255, 255, 0.5); }

.entertain-div-wrap:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transform: translate(0, -4px); }

#contents {
  box-sizing: border-box;
  position: absolute;
  height: calc(100% - 6rem);
  width: 100%;
  top: 10rem;
  left: 0;
  border-radius: 0 0 0 2px;
  overflow: hidden;
  background-color: #ffffff; }
  @media (min-width: 769px) {
    #contents {
      height: calc(100% - 3rem);
      width: calc(97% - 6rem);
      top: 3rem; } }

article {
  position: absolute;
  min-height: 300px;
  width: 100%;
  padding: 4rem;
  box-sizing: border-box;
  background-color: white;
  top: 0;
  left: -100%; }
  article .rest-card {
    position: relative;
    left: 25%;
    bottom: -183px;
    width: 230px;
    margin-top: 20px;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    -webkit-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s; }
    article .rest-card .thumb {
      height: 200px;
      overflow: hidden;
      background-color: #000;
      -webkit-transition: height 0.3s;
      transition: height 0.3s; }
      article .rest-card .thumb img {
        display: block;
        opacity: 1;
        width: 100%;
        -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
        transition: opacity 0.3s, transform 0.3s;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1); }
      article .rest-card .thumb .card-title {
        color: #fff;
        position: absolute;
        bottom: 186px;
        left: 0;
        max-width: 100%;
        padding: 14px;
        background: rgba(0, 0, 0, 0.36);
        width: 100%; }
    article .rest-card .body {
      height: 122px;
      overflow: hidden;
      position: relative;
      padding: 17px;
      color: grey;
      -webkit-transition: height 0.3s, color 0.3s;
      transition: height 0.3s, color 0.3s; }
      article .rest-card .body .description .fa {
        float: left;
        margin-right: 6px; }
    article .rest-card .footer {
      -webkit-transition: opacity 0.5s;
      transition: opacity 0.5s;
      padding-left: 20px;
      padding-top: 20px;
      padding-bottom: 20px; }
      article .rest-card .footer .buttons {
        background-color: #ffffff;
        border: none;
        font-size: 16px;
        color: lightblue;
        -webkit-transition: color 0.3s;
        transition: color 0.3s; }
    @media (max-width: 992px) {
      article .rest-card {
        position: relative;
        left: 34%;
        bottom: -183px;
        width: 176px; } }
  article .rest-card:hover {
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3); }
  article .rest-card:hover .footer .buttons {
    color: #0C4996; }
  article.hide {
    transition: left 0s 0.5s; }
  article:nth-of-type(1) {
    z-index: 5; }
  article:nth-of-type(2) {
    z-index: 4; }
  article:nth-of-type(3) {
    z-index: 3; }
  article:nth-of-type(4) {
    z-index: 2; }
  article:nth-of-type(5) {
    z-index: 1; }
  article.show {
    transition: left 0.5s;
    left: 0;
    z-index: 6; }
  article section {
    width: 100%;
    color: black; }
    article section h1 {
      font-size: 1.5rem;
      margin: 0 0 2rem 0; }
    article section .cafe-card {
      height: 220px; }
      article section .cafe-card .cafe-card-head {
        padding: 5px; }
      article section .cafe-card .body .description .fa {
        float: right;
        margin-left: 2px; }

.multi .carousel-inner .active.left {
  left: -25%; }
.multi .carousel-inner .next {
  left: 25%; }
.multi .carousel-inner .prev {
  left: -25%; }
.multi .carousel-control {
  width: 4%; }
.multi .carousel-control.right {
  margin-left: 15px;
  background-image: none; }
.multi .carousel-control.left {
  margin-right: 15px;
  background-image: none; }

footer {
  background-color: #0C4996;
  color: #ffffff;
  margin-top: 90px;
  padding: 13px;
  font-size: 17px; }
  footer img {
    width: 10%;
    margin-top: -13px;
    margin-right: 12px; }
  footer .footer-ul {
    list-style-type: none; }
    footer .footer-ul li {
      float: right; }
      footer .footer-ul li .fa {
        margin-right: 15px;
        font-size: 22px;
        line-height: 63px; }
  @media screen and (max-width: 767px) {
    footer {
      margin-top: 470px; } }

.advertising {
  background-color: #ffffff;
  height: 150px;
  width: 100%;
  margin-top: 70px; }
  @media screen and (max-width: 767px) {
    .advertising {
      position: relative;
      top: 392px; } }

@media screen and (min-device-width: 767px) and (max-device-width: 1440px) {
  .card-row5 .col-item .photo img {
    margin: 0 auto;
    width: 100%; } }
@media screen and (max-width: 1200px) {
  .card {
    margin-bottom: 70px; }

  .content {
    margin-bottom: 70px;
    margin-top: 70px; }

  .bank-card {
    margin-bottom: 70px; }
    .bank-card .info h3 {
      padding: 43px 0; }
    .bank-card .footer {
      padding: 25px; }

  .row-4 .col-sm-12 {
    margin-bottom: 110px;
    margin-top: 0; }

  article {
    width: 105%; }

  .row1 {
    height: auto; } }
@media screen and (max-width: 767px) {
  card-row5 .col-sm-3 {
    margin-top: 50px;
    text-align: left;
    margin-left: 0px;
    display: inline-block; }

  .col-xs-offset-3 {
    margin-left: 1px; }

  .card-row5 .col-item .photo img {
    margin: -20px auto;
    width: 100%; }

  .nav-tabs {
    float: right; }

  #contents {
    height: calc(100% - -31rem); }
    #contents .rest-card {
      position: relative;
      left: 178%;
      bottom: -183px;
      width: 220px; } }
@media screen and (max-width: 600px) and (min-width: 415px) {
  .col-xs-4 {
    width: 40.333333%; } }
@media screen and (min-device-width: 767px) and (max-device-width: 1200px) {
  .card-row5 .col-item .photo img {
    margin: 0 auto;
    width: 100%;
    margin-right: -8px; } }
@media screen and (min-width: 400px) and (max-width: 767px) {
  .card-row5 .card-header {
    margin: -20px 6px 0; }

  .card-row5 .col-item .photo img {
    margin-right: -7px; }

  .card-row5 .col-sm-3 {
    margin-top: 120px; }

  .row-4 .card-header {
    width: 89%; } }

/*# sourceMappingURL=style.css.map */
