/*-------------------------------*/
/*           Font           */
/*-------------------------------*/
@font-face {
  font-family: 'CoconRNext-Arabic';
  src: url("../fonts/CoconRNext-Arabic-Light.otf"); }
@font-face {
  font-family: myfont;
  src: url("../fonts/CoconRNext-Arabic-Light.otf"); }
/*-------------------------------*/
/*           VARIABLES           */
/*-------------------------------*/
body {
  background-color: #F7F7F7; }

.card-header {
  background-color: #0C4996;
  color: #ffffff;
  width: 100%;
  height: 75px;
  border-radius: 2px;
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  padding-right: 25px;
  padding-left: 25px;
  margin-bottom: 50px; }
  .card-header h1 {
    vertical-align: middle;
    line-height: 75px;
    margin: 0;
    display: inline-block;
    font-size: 28px;
    font-family: myfont; }
  .card-header a .fa {
    float: right;
    font-size: 35px;
    line-height: 75px;
    cursor: pointer;
    color: #fff; }

.card {
  margin-bottom: 70px;
  font-family: myfont;
  display: inline-block;
  position: relative;
  width: 100%;
  height: 250px;
  color: rgba(0, 0, 0, 0.87);
  background: #ffffff;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: all .3s ease; }
  .card .icon-row1 {
    background: #0C4996;
    border-radius: 2px;
    display: inline-block;
    height: 250px;
    width: 40px;
    position: absolute;
    line-height: 149px;
    right: -15px;
    z-index: 1;
    margin: 0px 15px 0;
    padding: 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .card .card-block {
    margin-right: 60px;
    margin-bottom: 10px;
    margin-left: 20px;
    box-sizing: border-box;
    font-family: myfont;
    height: 220px; }
    .card .card-block .news {
      color: #ffcf33; }
    .card .card-block .see-more {
      font-size: 14px;
      float: left;
      padding-left: 30px;
      margin-top: -15px;
      color: #26abef; }
    .card .card-block a:hover {
      color: #ffcf33;
      transition: color .3s ease;
      text-decoration: none; }

.bank-card {
  font-family: myfont;
  display: inline-block;
  position: relative;
  width: 100%;
  height: 250px;
  color: rgba(0, 0, 0, 0.87);
  background: #ffffff;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: all .3s ease; }
  .bank-card .bank-title {
    text-align: center; }
  .bank-card .fa {
    font-size: 2em;
    line-height: 60px;
    border-radius: 50%;
    background-color: #0C4996;
    height: 60px;
    width: 60px;
    color: #ffffff;
    margin-top: -1em;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
  .bank-card h3 {
    margin: 0;
    font-size: 22px;
    padding: 11px 0;
    color: #0C4996;
    text-align: center; }
  .bank-card .b-title {
    text-align: right;
    margin: 0;
    color: #0C4996;
    margin: 0 0 10px; }
  .bank-card .footer {
    border-top: 1px solid #0C4996;
    padding: 15px;
    padding-top: 30px;
    text-align: right;
    text-transform: uppercase;
    position: relative; }
    .bank-card .footer a {
      transition: color .3s ease;
      color: #26abef;
      margin: 0 5px;
      text-decoration: none; }
    .bank-card .footer .see-more {
      float: left; }
  .bank-card a:hover {
    color: #ffcf33;
    transition: color .3s ease;
    text-decoration: none; }

.row-3 .card-row3 {
  font-family: myfont;
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: auto;
  position: relative;
  width: 100%;
  height: auto; }
  .row-3 .card-row3 .card-header {
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    width: auto;
    margin: -20px 15px 0;
    border-radius: 3px;
    padding: 15px;
    background-color: #0C4996;
    height: 72px;
    width: auto; }
    .row-3 .card-row3 .card-header .card-title {
      color: #fff;
      font-family: myfont;
      line-height: 50px;
      margin: 0px; }
  .row-3 .card-row3 .card-content {
    padding: 15px 20px; }
  .row-3 .card-row3 .table th {
    text-align: right;
    color: #0C4996; }
  .row-3 .card-row3 .nav-tabs a {
    color: #FFFFFF;
    border: 0;
    margin: 0;
    border-radius: 3px;
    line-height: 24px;
    font-size: 16px;
    text-decoration: none;
    background-color: transparent; }
.row-3 .nav-tabs > li.active > a, .row-3 .nav-tabs > li.active > a:hover, .row-3 .nav-tabs > li.active > a:focus {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  transition: background-color .1s .2s;
  border: none; }
.row-3 a {
  color: black; }
.row-3 .firstchild-td {
  transition: color .3s ease;
  color: #26abef;
  margin: 0 5px;
  text-decoration: none;
  float: left;
  padding-left: 20px; }
.row-3 .nav-tabs {
  background: #0C4996;
  border: 0;
  border-radius: 3px;
  padding: 0 15px; }
.row-3 .nav-tabs a {
  color: #FFFFFF;
  border: 0;
  margin: 0;
  border-radius: 3px;
  line-height: 24px;
  font-size: 16px;
  text-decoration: none; }
.row-3 .nav-tabs > li > a .fa {
  margin: 0px 5px 0 7px;
  vertical-align: middle;
  font: normal normal normal 14px/1 FontAwesome; }
.row-3 .card-content {
  padding: 15px 20px;
  overflow: visible; }
.row-3 .card-header {
  width: auto; }
.row-3 nav-tabs > li > a:hover {
  background-color: transparent;
  font-weight: 500; }
.row-3 a:hover {
  color: #ffcf33;
  transition: color .3s ease;
  text-decoration: none; }

.card {
  height: auto;
  display: inline-block;
  position: relative;
  width: 100%;
  color: rgba(0, 0, 0, 0.87);
  background: #ffffff;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: all .3s ease; }
  .card .card-header {
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    margin: -20px 15px 0;
    border-radius: 3px;
    padding: 15px;
    background-color: #0C4996;
    height: 72px; }
    .card .card-header .nav-tabs {
      background: #0C4996;
      border: 0;
      border-radius: 3px;
      padding: 0 15px; }
    .card .card-header a {
      color: #FFFFFF;
      border: 0;
      margin: 0;
      border-radius: 3px;
      line-height: 24px;
      font-size: 16px;
      text-decoration: none; }
    .card .card-header .nav-tabs > li > a .fa {
      margin: 0px 5px 0 7px;
      vertical-align: middle; }
    .card .card-header a:hover {
      background-color: transparent;
      font-weight: 500; }
  .card .card-content {
    padding: 15px 20px; }
  .card .table tbody td img {
    width: 30%; }
  .card th {
    text-align: right; }
  .card a.see-more {
    color: #26abef;
    float: left; }
  .card .see-more:hover {
    color: #ffcf33;
    transition: color .3s ease;
    text-decoration: none; }
  .card .card-header a {
    color: #fff;
    border: 0;
    margin: 0;
    border-radius: 3px;
    line-height: 24px;
    font-size: 16px;
    text-decoration: none; }
  @media (min-width: 768px) {
    .card .navbar-right {
      float: right !important;
      margin-right: -15px; } }

footer {
  background-color: #0C4996;
  color: #ffffff;
  margin-top: 90px;
  padding: 13px;
  font-size: 17px; }
  footer img {
    width: 10%;
    margin-top: -13px;
    margin-right: 12px; }
  footer .footer-ul {
    list-style-type: none; }
  footer li {
    float: right; }
  footer .fa {
    margin-right: 15px;
    font-size: 22px;
    line-height: 63px; }
  footer .copy {
    font-size: 15px; }

@media (min-width: 768px) {
  .bank-card, .enter-card {
    width: 100%;
    margin: auto;
    margin-bottom: 70px; } }

/*# sourceMappingURL=style.css.map */
