@font-face {
  font-family: 'CoconRNext-Arabic';
  src: url("../fonts/CoconRNext-Arabic-Light.otf"); }
body {
  font-family: 'CoconRNext-Arabic';
  background-color: #F7F7F7; }

.card-header {
  background-color: #0C4996;
  color: #ffffff;
  width: 100%;
  height: 75px;
  border-radius: 2px;
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  padding-right: 25px;
  padding-left: 25px; }
  .card-header h1 {
    vertical-align: middle;
    line-height: 75px;
    margin: 0;
    display: inline-block; }
  .card-header a {
    color: #ffffff;
    text-decoration: none; }
    .card-header a:hover {
      color: #ffffff; }
    .card-header a .fa {
      float: right;
      font-size: 35px;
      line-height: 75px;
      cursor: pointer; }

.row {
  margin-top: 40px;
  padding: 0 10px; }
  .row .table tbody td {
    border: none; }
    .row .table tbody td .panel {
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }
      .row .table tbody td .panel .panel-heading {
        background-color: #0C4996; }
        .row .table tbody td .panel .panel-heading div span {
          margin-left: 5px; }

/*# sourceMappingURL=news-page.css.map */
